.notice_header {
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 22px;
    margin-top: 25px;
}

.notice_list_container {
    margin: 0 auto;
    width: 499px;
    padding: 20px 20px 30px 20px;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    margin-top: 25px;
}

/* 리스트 스타일 정의 */
.notice_list_container .notice_list {
    padding-bottom: 18px;
}

.notice_list_container .notice_list:nth-child(n+2) {
    margin-top: 10px;
}

.notice_list_container .notice_list .notice_link {
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #181818;
    font-size: 15px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 30px;
}

.notice_list_container .notice_list .notice_date {
    display: inline-block;
    font-size: 13px;
    color: rgb(158, 158, 158);
}

/* 페이지네이션 스타일 정의 */
.notice_list_container .notice_list_page_container {
    padding-top: 11px;
    padding-bottom: 7px;
}