.signup_container {
    padding-bottom: 220px;
}

.signup_container .logo_box .logo_link {
    height: 100%;
    display: flex;
    align-items: center;
    width: 160px;
    margin: 0 auto;
}

.signup_container .signup_form {
    width: 600px;
}

.signup_container .signup_form .input_div {
    width: 350px;
    position: relative;
}

.signup_form .social_input_div {
    border-top: 1px solid #e3e3e3;
    margin-top: 15px;
}

.signup_form .social_input_div h3 {
    margin: 0;
    padding-top: 10px;
    color: #333;
    font-size: 13px;
}

.blue_check_button {
    right: -70px;
    border: 1px solid #4ca5eb;
    background-color: #4ca5eb;
}