<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>
    <th:block th:replace="/fragments/config :: config"></th:block>
    <link th:href="@{/css/user/auth/email-auth.css}" type="text/css" rel="stylesheet">
</head>

<body>
<div class="email_auth_container common_form_container">
    <div class="logo_box">
        <a href="/" title="freeblog" class="logo_link clear_fix">
            <img class="logo_img" src="/images/logo.png">
            <span class="logo_name">freeblog</span>
            <span class="blind">로고(프리로그)</span>
        </a>
    </div>

    <h1 class="common_form_title">이메일 인증</h1>

    <form method="post" th:object="${userAuthInput}" class="email_auth_form common_form"
          id="email_auth_form" name="emailAuthForm" onsubmit="return confirm('이메일 인증 폼을 제출하시겠습니까?')">
        <div class="common_input_div input_div clear_fix">
            <label for="email_auth_input" class="common_input_label common_email_label">
                <span class="blind">이메일</span>
            </label>

            <input type="email" id="email_auth_input" class="common_input_form" th:field="*{email}"
                   placeholder="이메일을 입력하세요."
                   name="email" required>
        </div>

        <div class="spel_div">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="user_email_validation_error"
                  class="validation_error"></span>
            <p class="spel_condition_tag small_text_font">ex) test@naver.com</p>
            <p class="spel_condition_tag small_text_font">공백,특수문자 기입 불가</p>
        </div>

        <div class="common_input_div input_div clear_fix">
            <label for="key_auth_input" class="common_input_label common_password_label">
                <span class="blind">발급키</span>
            </label>

            <input type="text" id="key_auth_input" class="common_input_form" th:field="*{key}"
                   placeholder="발급키를 입력하세요."
                   maxlength="20"
                   name="email" required>
        </div>

        <div class="spel_div">
            <span th:if="${#fields.hasErrors('key')}" th:errors="*{key}" id="user_key_validation_error"
                  class="validation_error"></span>
            <p class="spel_condition_tag small_text_font">메일로 받은 발급키를 입력해주세요.</p>
            <p class="spel_condition_tag small_text_font">최대 20글자, 빈칸,공백 입력 불가</p>
        </div>

        <button type="submit" class="common_submit_button" id="passwordUpdateButton">제출하기</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<div th:replace="/fragments/footer::footer"></div>
</body>
</html>