<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <th:block th:replace="fragments/template/notice-template :: notice-template"></th:block>
    <th:block th:replace="fragments/template/post-template :: post-template"></th:block>
    <th:block th:replace="fragments/template/like-template :: like-template"></th:block>
    <link href='/fullcalendar-5.11.2/lib/main.css' rel='stylesheet'/>
    <script src='/fullcalendar-5.11.2/lib/main.js'></script>
    <link th:href="@{/css/blog/myblog.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/blog/blog-body.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/blog/blog-header.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/blog/myblog.js}"></script>
    <script type="text/javascript" th:src="@{/js/blog/blog-body.js}"></script>
    <script type="text/javascript" th:src="@{/js/blog/blog-header.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<input type="hidden" id="blog_user_nickname" th:value="${user_profile.nickname}">

<div class="myblog_container">
    <div class="myblog_container_div clear_fix">
        <div th:replace="fragments/blog/blog-header::blog-header"></div>
        <div th:replace="fragments/blog/blog-body::blog-body"></div>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>
<input type="hidden" id="blogIdHiddenInput" readonly th:value="${blog_info.id}">
</body>
</html>