<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>테그 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <th:block th:replace="fragments/template/notice-template :: notice-template-template"></th:block>
    <th:block th:replace="fragments/template/post-template :: post-template"></th:block>
    <th:block th:replace="fragments/template/like-template :: like-template"></th:block>
    <link th:href="@{/css/tag/blog-tag.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/common/post-util.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/tag/blog-tag.js}"></script>
</head>

<body>
<div th:replace="fragments/header::header"></div>
<div class="tag_container">
    <h3 class="post_search_title">
        <div class="pause_box" id="search_pause_box">
            <span>검색 중 입니다.</span>
        </div>

        <div class="search_result_box" id="search_result_box">
            <span th:text="'&quot;' + ${tagName} + '&quot;'"></span>
            <span>검색 결과: <span style="color: #333" id="post_search_count">0</span>개</span>
        </div>
    </h3>

    <div class="post_search_block">
        <div class="blog_post_board">
            <ul class="blog_list clear_fix" id="blog_post_list">
                <!-- blog post template -->
            </ul>
        </div>
    </div>

    <div class="post_search_page_container">
        <nav class="common-pagination-justify-content-center" aria-label="Page navigation">
            <ul class="pagination" id="PostSearchPagination">
                <!-- 페이지 템플릿 -->
            </ul>
        </nav>
    </div>
    <input type="hidden" readonly id="blog_id_input" th:value="${blog_info.id}">
    <input type="hidden" readonly id="tag_name_input" th:value="${tagName}">
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>