.complete_container {
    width: 988px;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    text-align: center;
    border: 1px solid #eeeeee;
}

.complete_container .menu_container {
    width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.complete_container .menu_container a {
    float: left;
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.login_button {
    margin-left: 15px;
    float: left;
    padding: 7px 15px 7px 15px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: #212529;
    color: white;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}

.complete_container .email_div {
    color: #333;
    font-size: 14px;
}

.complete_container .email_div .email {
    color: #2196f3;
    font-weight: bold;
}

/* login-popup */
.openBtn {
    display: flex;
    justify-content: left;
}

.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.formContainer .login_popup_title {
    color: #333;
}

.formContainer .email_span {
    color: #333;
    font-size: 16px;
}

.formContainer .password_span {
    color: #333;
    font-size: 16px;
}

.formContainer input[type=text],
.formContainer input[type=password] {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 10px 0;
    border: 1px solid #9e9e9e4a;
    background: #eee;
    text-indent: 8px;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

.formContainer .option_div {
    padding-bottom: 10px;
}

.formContainer .option_div .signup_div {
    float: left;
    line-height: 29px;
    font-size: 13px;
}

.formContainer .option_div .signup_div:hover {
    font-weight: bold;
}

.formContainer .option_div .find_pw_div {
    color: #333;
    font-size: 13px;
    line-height: 29px;
    float: right;
}

.formContainer .option_div .find_pw_div:hover {
    font-weight: bold;
}

.formContainer .option_div .signup_div a,
.formContainer .option_div .find_pw_div a {
    color: #333;
    text-decoration: none;
}