.validation_error {
    color: green;
    font-size: 11px;
    padding: 0 0 5px 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
}

.info_util_button {
    position: absolute;
    font-size: 12px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.3s;
    box-shadow: 3px 3px 3px #eeeeee;
}

.auth_mail_button {
    border: 1px solid #4ca5eb;
    background-color: #4ca5eb;
    right: -73px;
}

.find_mail_button {
    border: 1px solid #2dd553;
    background-color: #2dd553;
    right: -85px;
}

.find_mail_button:active {
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

.find_password_button {
    border: 1px solid #e0763c;
    background-color: #e0763c;
    right: -97px;
}

.find_info_container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.find_info_container .logo_box .logo_link {
    height: 100%;
    display: flex;
    align-items: center;
    width: 160px;
    margin: 0 auto;
}

.find_info_container .find_info_title {
    font-size: 25px;
    color: #333;
}


.find_info_container .find_info_form {
    border: 1px solid #e3e3e3;
    padding: 10px 0px 10px 0px;
    width: 650px;
    position: relative;
}

.find_info_container .find_info_form .input_div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 300px;
    padding-top: 10px;
    position: relative;
}

.find_info_container .find_info_form .input_div .input_label {
    float: left;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.find_info_container .find_info_form .input_div .email_label {
    background-image: url(/images/email.png);
}

.find_info_container .find_info_form .input_div .password_label {
    background-image: url(/images/password.png);
}

.find_info_container .find_info_form .input_div .input_form {
    float: left;
    margin-left: 10px;
    height: 35px;
    box-sizing: border-box;
    width: 100%;
}

.find_info_form .submit_button {
    position: absolute;
    bottom: -80px;
    left: 50%;
    width: 140px;
    height: 40px;
    background-color: #0074e9;
    color: #fff;
    /* box-shadow: inset 0 -2px 0 rgb(0 0 0 / 38%); */
    /* padding: 16px 17px; */
    font-family: apple sd gothic neo, malgun gothic, nanumbarungothic, nanumgothic, dotum, sans-serif;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

/* sub link div */
.find_info_form .sub_link_div {
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
}

.find_info_form .sub_link_div .login_link {
    float: left;
    margin-left: 41px;
    color: #888;
    font-size: 11px;
}

.find_info_form .sub_link_div .home_link {
    float: right;
    color: #888;
    font-size: 11px;
}