.update_password_container {
    padding-bottom: 220px;
}

.update_password_container .logo_box .logo_link {
    height: 100%;
    display: flex;
    align-items: center;
    width: 160px;
    margin: 0 auto;
}

.update_password_container .update_password_form {
    border: none;
    width: 600px;
}

.update_password_container .update_password_form .input_div {
    width: 350px;
}