<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <th:block th:replace="fragments/template/notice-template :: notice-template"></th:block>
    <link th:href="@{/css/notice/notice-list.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/notice/notice-list.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<h3 class="notice_header">
    공지사항
</h3>

<div class="notice_list_container">
    <ul class="notice_list" id="notice_list">
        <!-- 공지사항 목록 템플릿 -->
    </ul>

    <div class="notice_list_page_container">
        <nav class="common-pagination-justify-content-center" aria-label="Page navigation">
            <ul class="pagination" id="noticeListPagination">
                <!-- 페이지 템플릿 -->
            </ul>
        </nav>
    </div>
</div>
<!--<div th:replace="fragments/footer::footer"></div>-->
</body>
</html>