<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>게시글 상세 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <th:block th:replace="fragments/template/notice-template :: notice-template"></th:block>
    <link th:href="@{/css/notice/notice-detail.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/notice/notice-detail.js}"></script>
</head>

<body>
<div th:replace="fragments/header::header"></div>
<div class="notice_detail_container">
    <div class="notice_detail_title_container clear_fix">
        <h3 class="notice_detail_date" id="noticeDetailDate">
            1970.00.00 00:00:00
        </h3>

        <h3 class="notice_detail_title" id="notice_detail_title" th:text="${noticeDetail.title}">
            공지사항 제목
        </h3>

        <div class="notice_detail_contents_container">
            <div class="notice_detail_contents" id="notice_detail_contents">
                공지사항 컨텐츠
            </div>
        </div>

        <div class="notice_list_button_container">
            <button class="common_blue_button" id="notice_list_button">
                목록
            </button>
        </div>
    </div>

    <input type="hidden" id="blog_notice_title" readonly th:value="${noticeDetail.title}">
    <input type="hidden" id="hidden_notice_content" readonly>

    <script th:inline="javascript">
        const utilController = new UtilController();
        const noticeContent = [[${noticeDetail.contents}]];
        const registerTime = [[${noticeDetail.registerTime}]];
        const isBaseTimezone = [[${noticeDetail.isBaseTimezone}]]; // 베이스 타임존 여부
        document.getElementById("hidden_notice_content").value = noticeContent;
        document.getElementById("noticeDetailDate").innerText = utilController.convertTimeByBrowserTimezone(registerTime, 'YYYY-MM-DD HH:mm:ss', isBaseTimezone);
    </script>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>