<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>게시글 상세 페이지</title>
    <th:block th:replace="/fragments/config :: config"></th:block>
    <th:block th:replace="/fragments/template :: template"></th:block>
    <link th:href="@{/css/post/post-detail.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/post/post-detail.js}"></script>
</head>
<body>
<div th:replace="/fragments/header::header"></div>
<input type="hidden" id="blog_post_title" readonly th:value="${postDetail.title}">

<div class="post_detail_container">
    <div class="post_title_container">
        <div class="clear_fix">
            <h3 class="post_title_text" th:text="${postDetail.title}">포스트 제목</h3>

            <div class="post_title_category_block">
                <span class="post_title_space_text"> | </span>

                <button class="post_title_category_button" id="post_title_category_button"
                        th:value="'/category/' + ${postDetail.categoryId} + '?blogId=' + ${postDetail.blogId}">
                    <span class="post_title_category_text" th:text="${postDetail.categoryName}">포스트 카테고리</span>
                </button>
            </div>
        </div>

        <div class="post_writer_profile_container">
            <a th:href="'/blog/' + ${user_profile.id}" class="post_writer_profile_img_link">
                <img class="post_writer_profile_img"
                     th:src="${#strings.isEmpty(user_profile.profileImages) or #strings.equals(user_profile.profileImages,'<<<undefined>>>') ? '../images/user_default_thumbnail.png' : user_profile.profileImages}"
                     alt="게시글 작성자 프로필 사진">
            </a>

            <a th:href="'/blog/' + ${user_profile.id}" th:text="${user_profile.nickname}"
               class="post_writer_profile_nickname_link">게시글 작성자 닉네임</a>

            <span class="post_register_date_text" th:text="${postDetail.registerTime}">게시글 작성 날짜</span>

            <button class="post_url_button" id="post_url_button" th:title="${postDetail.currentUrl}">
                <span class="post_url_text">URL 복사</span>
            </button>
        </div>
    </div>

    <div class="post_contents_container">
        <div class="post_contents" id="post_contents" th:utext="${postDetail.contents}">
            포스트 컨텐츠
        </div>
    </div>

    <div class="post_tag_container">
        <th:block th:each="postTag: ${postDetail.tags}">
            <a class="post_tag_link" th:href="'/tag/' + ${postTag} + '?blogId=' + ${postDetail.blogId}">
                <span class="tag_text" th:text="${postTag}">포스트 태그</span>
            </a>
        </th:block>
    </div>

    <div class="post_util_container clear_fix">
        <div class="post_like_container">
            <button class="post_like_button" id="post_like_button">
                <img class="common_button_image_style" src="../images/heart.gif" alt="">
            </button>

            <span class="post_like_text">공감</span>
            <span class="post_like_text">0</span>

            <button class="post_like_user_check_button" id="post_like_user_check_button">
                <img class="common_button_image_style" src="../images/like_check.png" alt="">
            </button>
        </div>

        <div class="post_share_container">
            <button class="post_share_button" id="post_share_button">
                <img class="common_button_image_style" src="../images/share.png" alt="">
            </button>
        </div>
    </div>

    <!-- 댓글 -->
    <div class="post_comment_container">
        <ul class="post_comment_list" id="post_comment_list">
            <!-- 게시글 댓글 템플릿 -->
        </ul>

        <div class="post_comment_page_container">
            <nav class="common-pagination-justify-content-center" aria-label="Page navigation">
                <ul class="pagination" id="commentPagination">
                    <!-- 페이지 템플릿 -->
                </ul>
            </nav>
        </div>

        <div class="post_comment_form_container">
            <form method="post" action="/comment/register" class="post_comment_form" id="post_comment_form"
                  name="post_comment_form">
                <div class="post_comment_text_area_block">
                    <textarea class="post_comment_text_area" id="post_comment_text_input" spellcheck="false"
                              name="comment" maxlength="2000"
                              placeholder="여러분의 소중한 댓글을 입력해주세요 :)"></textarea>

                    <div class="post_comment_thumbnail_image_box" id="post_comment_thumbnail_image_box">
                        <img class="common_button_image_style" id="post_comment_thumbnail_image" src="" alt="">

                        <button type="button" class="post_comment_thumbnail_image_delete_button"
                                id="post_comment_thumbnail_image_delete_button">
                            <img class="common_button_image_style" src="../images/close.png" alt="">
                            <span class="blind">커멘트 썸네일 이미지 삭제</span>
                        </button>
                    </div>

                    <div class="post_comment_count_block">
                        <span class="textarea_text_count common_gray_text" id="current_text_count">0</span>
                        <span class="common_plain_text textarea_count_blank">/</span>
                        <span class="common_gray_text textarea_text_count">2000</span>
                    </div>
                </div>

                <div class="post_comment_form_info_container clear_fix">
                    <div class="user_input_form_container clear_fix">
                        <input type="text" class="post_comment_input_style"
                               id="commentUserNickname" name="commentUserNickname" placeholder="닉네임" spellcheck="false"
                               maxlength="255">

                        <input type="password" class="post_comment_input_style"
                               id="commentUserPassword" name="commentUserPassword" placeholder="비밀번호" spellcheck="false"
                               maxlength="255">

                        <div class="post_comment_input_style user_comment_anonymous_input_box">
                            <input type="checkbox" id="commentIsAnonymous" name="commentIsAnonymous">

                            <label class="user_comment_anonymous_input_label" for="commentIsAnonymous">
                                <span class="common_gray_text user_comment_anonymous_input_text">익명</span>
                            </label>
                        </div>
                    </div>

                    <div class="util_input_form_container clear_fix">
                        <button type="button" class="post_comment_image_button" id="post_comment_image_button">
                            <div class="post_image_container clear_fix">
                                <img src="../images/photo.png" class="common_button_image_style" alt="">
                            </div>

                            <span class="post_comment_image_text">
                                사진
                            </span>
                        </button>

                        <button type="button" class="post_comment_image_button post_comment_lock_button"
                                id="post_comment_lock_button">
                            <div class="post_image_container clear_fix">
                                <img src="../images/unlock.png" class="common_button_image_style"
                                     id="post_comment_secret_image" alt="">
                            </div>

                            <span class="post_comment_image_text">
                                비밀글
                            </span>

                            <input type="checkbox" class="post_comment_is_secret_input_style"
                                   id="post_comment_is_secret_input" name="secretComment"/>
                        </button>

                        <button type="button" class="post_comment_submit_button" id="post_comment_submit_button">
                            <span class="post_comment_submit_button_text">
                                등록
                            </span>
                        </button>
                    </div>
                </div>

                <input type="hidden" id="post_comment_blogId" readonly name="commentBlogId"
                       th:value="${postDetail.blogId}"/>
                <input type="hidden" id="post_comment_postId" readonly name="commentPostId"
                       th:value="${postDetail.id}"/>
                <input type="hidden" id="post_comment_thumbnail_image_value_input" name="commentThumbnailImage"/>
            </form>

            <form method="post" class="post_comment_image_form" id="post_comment_image_form"
                  name="post_comment_image_form">
                <input type="file" id="post_comment_image_file_input" name="post_comment_image_file_input"
                       class="post_comment_image_file_input"
                       accept="image/jpeg, image/jpg, image/png, image/gif, image/GIF">
            </form>
        </div>
    </div>

    <!-- 카테고리 관련글 목록 추가 -->
</div>
</div>

<div th:replace="/fragments/footer::footer"></div>
</body>
</html>