<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성 완료</title>
    <th:block th:replace="fragments/config :: config"></th:block>

    <style>
        .post_write_board {
            min-width: 988px;
            min-height: 500px;
            text-align: center;
            margin: 0 auto;
        }

        .post_write_board .post_write_message {
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="post_write_board">
    <p class="post_write_message" th:if="${error == null} or ${#strings.isEmpty(error)} eq true" th:text="${result}">
        메시지</p>

    <a class="common_dark_cyan_text" href="/">홈으로 가기 </a>
</div>
</body>
</html>