<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>게시글 상세 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <th:block th:replace="fragments/template/notice-template :: notice-template"></th:block>
    <th:block th:replace="fragments/template/post-template :: post-template"></th:block>
    <th:block th:replace="fragments/template/comment-template :: comment-template"></th:block>
    <th:block th:replace="fragments/template/like-template :: like-template"></th:block>
    <link th:href="@{/css/post/post-detail.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/comment/post-comment.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/post/post-detail.js}"></script>
    <script type="text/javascript" th:src="@{/js/comment/post-comment-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/comment/post-comment.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<input type="hidden" id="blog_post_title" readonly th:value="${postDetail.title}">

<div class="post_detail_container">
    <div class="search_container clear_fix">
        <select class="blog_view_search_option" name="postSearchOption" id="postSearchOptionSelector">
            <option value="ALL">전체</option>
            <option value="TITLE">제목</option>
            <option value="CONTENT">내용</option>
        </select>

        <form action="/post/search" method="get" class="blog_view_search_form" id="postSearchForm">
            <input type="hidden" id="blogIdHiddenInput" name="blogId" readonly th:value="${postDetail.blogId}">
            <input type="text" class="search_blog_input" id="postSearchKeywordInput" name="keyword"
                   placeholder="검색어를 입력해주세요." spellcheck="false" required>
            <button type="button" class="search_blog_button" id="postSearchButton" title="게시글 검색">
                <img class="search_blog_button_img" src="../images/search.gif"/>
            </button>
            <span class="blind">게시글 검색</span>
        </form>
    </div>

    <div class="post_title_container">
        <div class="post_title_block clear_fix">
            <h3 class="post_title_text" th:text="${postDetail.title}">포스트 제목</h3>

            <div class="post_title_category_block">
                <span class="post_title_space_text"> | </span>

                <button class="post_title_category_button" id="post_title_category_button"
                        th:value="'/category/post-title/' + ${postDetail.categoryId}">
                    <span class="post_title_category_text" th:text="${postDetail.categoryName}">포스트 카테고리</span>
                </button>

                <div class="category_post_block" id="category_post_block">
                    <ul class="category_post_list" id="category_post_list">
                        <!-- 카테고리 포스트 템플릿 -->
                    </ul>

                    <button class="category_post_block_close_button" id="category_post_block_close_button">
                        <img class="common_button_image_style" src="../images/close.png" alt="">
                        <span class="blind">닫기 버튼</span>
                    </button>

                    <div class="category_post_page_container">
                        <nav class="common-pagination-justify-content-center" aria-label="Page navigation">
                            <ul class="pagination" id="categoryPostPagination">
                                <!-- 페이지 템플릿 -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="post_detail_update_container clear_fix" sec:authorize="isAuthenticated()">
                <th:block th:if="${#bools.isTrue(isEqualPostByLogin)}">
                    <a th:href="'/post/update/' + ${postDetail.id} + '?blogId=' + ${postDetail.blogId}"
                       class="common_button_text post_detail_update_button" id="post_detail_update_button">
                        수정
                    </a>

                    <button type="button" class="common_button_text post_detail_delete_button"
                            id="post_detail_delete_button">
                        삭제
                    </button>

                    <form action="/post/delete" method="post" id="post_delete_form">
                        <input type="hidden" readonly name="postId" th:value="${postDetail.id}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </th:block>
            </div>
        </div>

        <div class="post_writer_profile_container">
            <a th:href="'/blog/' + ${user_profile.id}" class="post_writer_profile_img_link">
                <img class="post_writer_profile_img"
                     th:src="${#strings.isEmpty(user_profile.profileImages) or #strings.equals(user_profile.profileImages,'<<<undefined>>>') ? '../images/user_default_thumbnail.png' : user_profile.profileImages}"
                     alt="게시글 작성자 프로필 사진">
            </a>

            <a th:href="'/blog/' + ${user_profile.id}" th:text="${user_profile.nickname}"
               class="post_writer_profile_nickname_link">게시글 작성자 닉네임</a>

            <span class="post_register_date_text" th:text="${postDetail.registerTime}">게시글 작성 날짜</span>

            <th:block th:if="${#bools.isTrue(isEqualPostByLogin)}">
                <span class="post_view_text" th:text="${post_view} + ' views'">조회수</span>
            </th:block>

            <button class="post_url_button" id="post_url_button" th:title="${postDetail.currentUrl}">
                <span class="post_url_text">URL 복사</span>
            </button>
        </div>
    </div>

    <div class="post_contents_container">
        <div class="post_contents" id="post_contents">
            포스트 컨텐츠
        </div>
    </div>

    <div class="post_tag_container">
        <th:block th:each="postTag: ${postDetail.tags}">
            <th:block th:if="${#strings.isEmpty(postTag)} eq false">
                <a class="post_tag_link"
                   th:href="'/tag/' + ${#strings.arraySplit(postTag,'#')[0]} + '?blogId=' + ${postDetail.blogId}">
                    <span class="tag_text" th:text="${postTag}">포스트 태그</span>
                </a>
            </th:block>
        </th:block>
    </div>

    <div class="post_util_container clear_fix">
        <div class="post_like_container">
            <button class="post_like_button" id="post_like_button">
                <img class="common_button_image_style"
                     th:src="${#bools.isTrue(post_like.isLike) ? '../images/heart.png' : '../images/empty_heart.png'}"
                     id="post_like_button_image"
                     alt="">
            </button>

            <span class="post_like_text">공감</span>
            <span class="post_like_text" id="post_like_count_text" th:text="${post_like.likeCount}"></span>

            <button class="post_like_user_check_button" id="post_like_user_check_button">
                <img class="common_button_image_style post_like_user_list_button" src="../images/dot.png" alt="">
            </button>

            <div class="post_like_user_list_container" id="post_like_user_list_container">
                <div id="post_like_user_list_block">
                    <!-- 게시글 좋아요 누른 사용자 리스트 템플릿 -->
                </div>

                <button class="user_post_like_close_button" id="user_post_like_close_button">
                    <img class="common_button_image_style" src="../images/close.png" alt="">
                    <span class="blind">닫기 버튼</span>
                </button>

                <div class="post_user_like_page_container">
                    <nav class="common-pagination-justify-content-center" aria-label="Page navigation">
                        <ul class="pagination" id="postUserLikePagination">
                            <!-- 페이지 템플릿 -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="post_share_container">
            <button class="post_share_button" id="post_share_button">
                <img class="common_button_image_style" src="../images/share.png" alt="">
            </button>
        </div>
    </div>

    <input type="hidden" id="blog_post_category_id" readonly th:value="${postDetail.categoryId}">
    <input type="hidden" id="postIdInput" readonly name="postId" th:value="${postDetail.id}">
    <input type="hidden" id="postSearchBlogIdInput" name="blogId" readonly th:value="${postDetail.blogId}">

    <!-- 연관 게시글 컨테이너 -->
    <th:block th:if="${not #lists.isEmpty(relatedPostList)}">
        <div class="related_post_container">
            <h2 class="related_post_h3">
                연관 게시글
            </h2>

            <ul class="related_post_list">
                <th:block th:each="relatedPost: ${relatedPostList}">
                    <li class="related_post_box">
                        <a th:href="'/post/' + ${relatedPost.id} + '?blogId=' + ${relatedPost.blogId}">
                            <figure class="related_post_figure">
                                <img class="related_post_image"
                                     th:src="${#strings.isEmpty(relatedPost.thumbnailImage) or #strings.equals(relatedPost.thumbnailImage,'<<<undefined>>>') ? '../images/default_thumbnail.gif' : relatedPost.thumbnailImage}"
                                     alt="">
                            </figure>

                            <span class="related_post_title" th:text="${relatedPost.title}">
                        연관 포스트 게시글
                    </span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
    </th:block>

    <!-- 게시글 댓글 컨테이너-->
    <div th:replace="fragments/comment/post-comment-container::post-comment-container"></div>

    <div class="prev_next_category_post_container clear_fix">
        <th:block th:if="${post_almost.prevPostLinkDto != null}">
            <div class="prev_category_post_container clear_fix">
                <div class="prev_next_category_image_container">
                    <img class="common_button_image_style" src="../images/left_arrow.png" alt="left_arrow">
                </div>

                <a th:href="${post_almost.prevPostLinkDto.link}" class="prev_category_post_link"
                   th:title="${post_almost.prevPostLinkDto.title}">
                    <span class="common_plain_text">이전 글</span>
                </a>
            </div>
        </th:block>

        <th:block th:if="${post_almost.prevPostLinkDto == null}">
            <div class="prev_category_post_container clear_fix">
                <div class="prev_next_category_image_container common_opacity_gray">
                    <img class="common_button_image_style" src="../images/left_arrow.png" alt="left_arrow">
                </div>

                <p class="prev_category_post_link">
                    <span class="common_cloudy_text">이전 글</span>
                </p>
            </div>
        </th:block>

        <th:block th:if="${post_almost.nextPostLinkDto != null}">
            <div class="next_category_post_container clear_fix">
                <div class="prev_next_category_image_container">
                    <img class="common_button_image_style" src="../images/right_arrow.png" alt="left_arrow">
                </div>

                <a th:href="${post_almost.nextPostLinkDto.link}" class="next_category_post_link"
                   th:title="${post_almost.nextPostLinkDto.title}">
                    <span class="prev_next_category_post_text">다음 글</span>
                </a>
            </div>
        </th:block>

        <th:block th:if="${post_almost.nextPostLinkDto == null}">
            <div class="next_category_post_container clear_fix">
                <div class="prev_next_category_image_container common_opacity_gray">
                    <img class="common_button_image_style" src="../images/right_arrow.png" alt="left_arrow">
                </div>

                <p class="next_category_post_link">
                    <span class="common_cloudy_text">다음 글</span>
                </p>
            </div>
        </th:block>
    </div>

    <input type="hidden" id="hidden_post_content" readonly>

    <script th:inline="javascript">
        const postContent = [[${postDetail.contents}]];
        document.getElementById("hidden_post_content").value = postContent;
    </script>
</div>
</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>