<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="post-comment-update-form-container" class="post_comment_form_container">
    <form method="post" action="/comment/update" class="post_comment_form" id="post_comment_update_form"
          name="post_comment_form">
        <div class="post_comment_text_area_block">
                    <textarea class="post_comment_text_area" id="post_comment_text_input" spellcheck="false"
                              name="comment" maxlength="2000"
                              placeholder="여러분의 소중한 댓글을 입력해주세요 :)"></textarea>

            <div class="post_comment_thumbnail_image_box" id="post_comment_thumbnail_image_box">
                <img class="common_button_image_style" id="post_comment_thumbnail_image" src="" alt="">

                <button type="button" class="post_comment_thumbnail_image_delete_button"
                        id="post_comment_thumbnail_image_delete_button">
                    <img class="common_button_image_style" src="/images/close.png" alt="">
                    <span class="blind">커멘트 썸네일 이미지 삭제</span>
                </button>
            </div>

            <div class="post_comment_count_block">
                <span class="textarea_text_count common_gray_text" id="current_text_count">0</span>
                <span class="common_plain_text textarea_count_blank">/</span>
                <span class="common_gray_text textarea_text_count">2000</span>
            </div>
        </div>

        <div class="post_comment_form_info_container clear_fix">
            <div class="user_input_form_container clear_fix">
                <th:block th:if="${#bools.isTrue(is_anonymous)}">
                    <input type="text" class="post_comment_input_style"
                           id="commentUserNickname" name="commentUserNickname" placeholder="변경 닉네임" spellcheck="false"
                           maxlength="255">

                    <input type="password" class="post_comment_input_style"
                           id="commentUserPassword" name="commentUserPassword" placeholder="변경 비밀번호" spellcheck="false"
                           maxlength="255">
                </th:block>
            </div>

            <div class="util_input_form_container clear_fix">
                <button type="button" class="post_comment_image_button" id="post_comment_image_button">
                    <div class="post_image_container clear_fix">
                        <img src="/images/photo.png" class="common_button_image_style" alt="">
                    </div>

                    <span class="post_comment_image_text">
                                사진
                            </span>
                </button>

                <button type="button" class="post_comment_image_button post_comment_lock_button"
                        id="post_comment_lock_button">
                    <div class="post_image_container clear_fix">
                        <img src="/images/unlock.png" class="common_button_image_style"
                             id="post_comment_secret_image" alt="">
                    </div>

                    <span class="post_comment_image_text">비밀글</span>

                    <input type="checkbox" class="post_comment_is_secret_input_style"
                           id="post_comment_is_secret_input" name="secretComment"/>
                </button>

                <button type="button" class="post_comment_submit_button" id="post_comment_update_button">
                            <span class="post_comment_submit_button_text">
                                수정
                            </span>
                </button>
            </div>
        </div>
        <input type="hidden" id="post_comment_thumbnail_image_value_input" name="commentThumbnailImage"/>
        <input type="hidden" id="auth_check_password_input" name="authCheckPassword">
        <input type="hidden" id="is_anonymous" readonly th:value="${is_anonymous}" name="isAnonymous">
        <input type="hidden" id="comment_id_input" readonly th:value="${comment_id}" name="commentId">
    </form>

    <form method="post" class="post_comment_image_form" id="post_comment_image_form"
          name="post_comment_image_form">
        <input type="file" id="post_comment_image_file_input" name="post_comment_image_file_input"
               class="post_comment_image_file_input"
               accept="image/jpeg, image/jpg, image/png, image/gif, image/GIF">
    </form>

    <script th:inline="javascript">
        const commentText = [[${comment_text}]];
        const commentImage = [[${comment_image}]];
        const commentNickname = [[${comment_nickname}]];
        const commentSecret = [[${comment_secret}]];
        const commentIsAnonymous = [[${is_anonymous}]];

        document.getElementById("post_comment_text_input").value = commentText;

        if (commentIsAnonymous === true) {
            document.getElementById("commentUserNickname").value = commentNickname;
        }

        if (commentSecret === true) {
            document.getElementById("post_comment_is_secret_input").checked = true;
            document.getElementById("post_comment_secret_image").src = "/images/lock.png";
        }

        if (commentImage !== '<<<undefined>>>') {
            document.getElementById("post_comment_thumbnail_image_box").style.display = 'block';
            document.getElementById("post_comment_thumbnail_image_value_input").value = commentImage;
            document.getElementById("post_comment_thumbnail_image").src = commentImage;
        }
    </script>
</div>
</html>