<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.core.user.repository.mapper.UserMapper">
    <select id="findUserProfileMapperDtoByBlogId" resultType="com.service.core.user.dto.UserProfileMapperDto">
        select user.user_id, user.nickname, user.email, user.greetings, user.profile_image
        from user
        where blog_id = #{blogId}
          and status not in ('WITHDRAW', 'STOP');
    </select>
</mapper>
