<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.core.user.repository.mapper.UserMapper">
    <select id="findUsersByNickName" resultType="com.service.core.user.dto.UserEmailFindDto">
        SELECT email, nickname
        from user
        WHERE nickname LIKE CONCAT(#{nickname}, '%')
          and status not in ('WITHDRAW', 'STOP')
    </select>
</mapper>
