<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 찾기 페이지</title>
    <th:block th:replace="/fragments/config :: config"></th:block>
    <link th:href="@{/css/user/find-info.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/user/find-info.js}"></script>
</head>

<body>
<div class="find_info_container">
    <!-- logo-box -->
    <div th:replace="/fragments/common.html :: logo_layout"></div>

    <h1 class="find_info_title">회원정보 찾기</h1>

    <div class="find_info_form" id="find_info_form">

        <div class="input_div clear_fix">
            <label for="user_nickname_input" class="input_label email_label">
                <span class="blind">이메일</span>
            </label>

            <input type="text" id="user_nickname_input" class="input_form"
                   placeholder="닉네임을 입력해주세요."
                   name="nickname" required>

            <button type="button" class="info_util_button find_mail_button" id="email_find_button">이메일찾기</button>
        </div>

        <div class="input_div clear_fix">
            <label for="user_password" class="input_label password_label">
                <span class="blind">비밀번호</span>
            </label>

            <input type="password" id="user_password" name="password" class="input_form"
                   maxlength="20" minlength="8" placeholder="비밀번호를 입력해주세요." autocomplete="on" required>

            <button type="button" class="info_util_button find_password_button" id="find_password_button">비밀번호찾기
            </button>
        </div>

        <div class="sub_link_div clear_fix">
            <a href="/user/login" class="login_link">로그인</a>
            <a href="/" class="home_link">홈으로 이동</a>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </div>
</div>
</body>
</html>