<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header">
    <div class="header_box clear_fix">
        <!-- logo-box -->
        <div class="logo_box_div">
            <div th:replace="fragments/common.html :: logo_layout"></div>
        </div>

        <div class="audio_player_style" th:if="${invisible == null or #bools.isFalse(invisible)}">
            <div class="audioPlayer_Option_Box">
                <select class="audioPlayer_Category_List" name="categoryName" id="audioPlayerCategoryList">
                    <!-- 뮤직 카테고리 리스트 -->
                </select>

                <th:block th:if="${#bools.isTrue(blog_owner)}">
                    <button class="common_button_text audioPlayer_Setting_Button" title="음악 플레이어 설정"
                            id="audioPlayerSettingButton" data-toggle="modal" data-target="#music_setting_modal">
                        <span class="blind">설정</span>
                        <img class="common_button_image_style" src="/images/setting.png" alt="">
                    </button>

                    <button class="common_button_text music_store_button" title="뮤직 스토어"
                            id="musicStoreButton">
                        <span class="blind">뮤직 스토어 버튼</span>
                        <img class="common_button_image_style" src="/images/music_store.png" alt="">
                    </button>
                </th:block>
            </div>
            <div id="audio_player"></div>
        </div>

        <!-- Music Setting Modal -->
        <div class="modal fade" id="music_setting_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">뮤직 플레이어 설정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="musicPlayerConfigBox">
                            <!-- music config template -->
                        </div>

                        <form method="post" action="/music/config_save" id="musicPlayerConfigForm">
                            <input type="hidden" readonly id="listFoldedHiddenInput" name="listFolded">
                            <input type="hidden" readonly id="listMaxHeightHiddenInput" name="listMaxHeight">
                            <input type="hidden" readonly id="autoPlayHiddenInput" name="autoPlay">
                            <input type="hidden" readonly id="duplicatePlayHiddenInput" name="duplicatePlay">
                            <input type="hidden" readonly id="playOrderHiddenInput" name="playOrder">
                            <input type="hidden" readonly id="playModeHiddenInput" name="playMode">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" id="musicConfigSaveButton">저장</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="user_util_box">
            <ul class="user_util_list">
                <!-- 추후에 dark/light 모드 기능 구현 후, 활성화 예정
                <li class="user_util_item center_fix">
                    <button type="button" class="day_night_skin_button" id="day_night_skin_button" title="모드 변경">
                        <img src="/images/sun.gif"/>
                        <span class="blind">모드 변경</span>
                    </button>
                </li>
                -->

                <li class="user_util_item center_fix">
                    <button type="button" title="좋아요누른 글" class="header_util_button" id="like_post_button">
                        <img src="/images/like_posts.png"/>
                        <span class="blind">좋아요누른 글</span>
                    </button>

                    <div class="user_like_post_option_container">
                        <div class="user_like_post_notice_container">
                            <span class="user_like_post_notice_text" id="user_like_post_notice_text">
                                * 30일이 지난 게시글은 삭제 됩니다
                            </span>
                        </div>

                        <button class="user_like_post_block_reload_button" id="user_like_post_block_reload_button">
                            <img class="common_button_image_style user_like_post_block_reload_button_image"
                                 id="user_like_post_block_reload_button_image"
                                 src="/images/reload.png" alt="" title="새로고침">
                            <span class="blind">닫기 버튼</span>
                        </button>

                        <button class="user_like_post_block_close_button" id="user_like_post_block_close_button">
                            <img class="common_button_image_style user_like_post_block_close_button_image"
                                 src="/images/close.png" alt="" title="닫기">
                            <span class="blind">닫기 버튼</span>
                        </button>

                        <th:block sec:authorize="isAuthenticated()">
                            <button class="user_like_post_block_delete_all_button"
                                    id="user_like_post_block_delete_all_button" th:value="${user_header.id}">
                                전체삭제
                            </button>
                        </th:block>
                    </div>

                    <div class="user_like_post_container" id="user_like_post_container">
                        <div style="position: absolute; height: 30px; left: 50%; top: 50%;" id="likeListLoading"></div>
                        <!-- 사용자가 좋아유 누른 게시글 템플릿 -->
                    </div>
                </li>

                <li class="user_util_item clear_fix">
                    <button type="button" title="공지알림" class="header_util_button" id="notice_button">
                        <img src="/images/notice_bell.png"/>
                        <span class="blind">공지 알림</span>

                        <div class="notice_alarm_dot_board" id="notice_alarm_dot_board">
                            <img class="common_button_image_style" src="/images/red_dot.png"/>
                        </div>
                    </button>

                    <div class="notice_container" id="notice_container">
                        <h3 class="notice_title">공지사항 목록</h3>

                        <div class="notice_template_container" id="notice_template_container">
                            <div style="position:relative;height: 35px;" id="noticeListLoading"></div>

                            <ul class="notice_list_container" id="notice_list_container">
                                <!-- 공지사항 템플릿 -->
                            </ul>

                            <button class="notice_close_button" id="notice_close_button">
                                <img class="common_button_image_style" src="/images/close.png" alt="">
                                <span class="blind">닫기 버튼</span>
                            </button>

                            <div class="notice_page_container">
                                <nav class="common-pagination-justify-content-center" aria-label="Page navigation">
                                    <ul class="pagination" id="noticePagination">
                                        <!-- 페이지 템플릿 -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="user_util_item">
                    <a href="/user/login" sec:authorize="!isAuthenticated()" class="login_button" id="login_button">
                        로그인
                        <span class="blind">로그인</span>
                    </a>
                    <button type="button" sec:authorize="isAuthenticated()" class="user_profile_button"
                            id="user_profile_button">
                        <img id="header_profile_image" class="header_profile_image" th:src="${#strings.isEmpty(user_header.profileImages) or #strings.equals(user_header.profileImages,'<<<undefined>>>')
                        ? '/images/user_default_thumbnail.png' : user_header.profileImages}"/>
                        <span class="blind">프로필</span>
                    </button>
                </li>
            </ul>

            <th:block th:if="${user_header != null}">
                <ul class="user_option_div" id="user_option_div">
                    <li class="user_option_item">
                        <a class="user_option_link" th:href="'/blog/' + ${user_header.id}">내 블로그</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="/settings">설정</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="/user/logout">로그아웃</a>
                    </li>
                </ul>
            </th:block>

            <th:block th:if="${user_header == null}">
                <ul class="user_option_div" id="user_option_div">
                    <li class="user_option_item">
                        <a class="user_option_link" th:href="'/blog?id=undefined'">내 블로그</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="/settings">내정보 관리</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="/user/logout">로그아웃</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </div>
</header>
</html>