<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header">
    <div class="header_box clear_fix">
        <!-- logo-box -->
        <div class="logo_box_div">
            <div th:replace="/fragments/common.html :: logo_layout"></div>
        </div>

        <div class="user_util_box">
            <ul class="user_util_list">
                <!-- 추후에 dark/light 모드 기능 구현 후, 활성화 예정
                <li class="user_util_item center_fix">
                    <button type="button" class="day_night_skin_button" id="day_night_skin_button" title="모드 변경">
                        <img src="../images/sun.gif"/>
                        <span class="blind">모드 변경</span>
                    </button>
                </li>
                -->

                <li class="user_util_item center_fix">
                    <button type="button" title="좋아요누른 글" class="header_util_button" id="like_post_button">
                        <img src="../images/like_posts.png"/>
                        <span class="blind">좋아요누른 글</span>
                    </button>
                </li>

                <li class="user_util_item center_fix">
                    <button type="button" title="공지알림" class="header_util_button" id="notice_button">
                        <img src="../images/notice_bell.png"/>
                        <span class="blind">공지 알림</span>
                    </button>
                </li>

                <li class="user_util_item">
                    <a href="/user/login" sec:authorize="!isAuthenticated()" class="login_button" id="login_button">
                        로그인
                        <span class="blind">로그인</span>
                    </a>
                    <button type="button" sec:authorize="isAuthenticated()" class="user_profile_button"
                            id="user_profile_button">
                        <img id="header_profile_image" class="header_profile_image" th:src="${#strings.isEmpty(user_header.profileImages) or #strings.equals(user_header.profileImages,'<<<undefined>>>')
                        ? '../images/user_default_thumbnail.png' : user_header.profileImages}"/>
                        <span class="blind">프로필</span>
                    </button>
                </li>
            </ul>

            <th:block th:if="${user_header != null}">
                <ul class="user_option_div" id="user_option_div">
                    <li class="user_option_item">
                        <a class="user_option_link" th:href="'/blog/' + ${user_header.id}">내 블로그</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="testLoad.do">좋아요누른 글</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="/settings">설정</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="/user/logout">로그아웃</a>
                    </li>
                </ul>
            </th:block>

            <th:block th:if="${user_header == null}">
                <ul class="user_option_div" id="user_option_div">
                    <li class="user_option_item">
                        <a class="user_option_link" th:href="'/blog?id=undefined'">내 블로그</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="/settings">내정보 관리</a>
                    </li>

                    <li class="user_option_item">
                        <a class="user_option_link" href="/user/logout">로그아웃</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </div>
</header>
</html>