<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="template">
    <!-- handlebars templates -->

    <!-- 썸네일 이미지가 있는 포스트 템플릿 -->
    <script id="thumbnail_post_template" type="text/x-handlebars-template">
        <li class="post_board">
            <div class="post_board_div">
                <a href="/post?id=959584584" class="post_link">
                    <div class="post_img_board">
                        <img class="post_img"
                             src="../images/default_thumbnail.gif"
                             title="상품이미지">
                    </div>

                    <div class="post_detail_info_box">
                        <div class="post_detail_info_div">
                            <div class="post_title_div">
                                <h4 class="post_title">안녕하세요</h4>
                                <p class="post_desc"></p>
                            </div>
                        </div>
                        <div class="post_sub_info_div clear_fix">
                            <div class="post_upload_div">
                                <span class="post_upload_day">25%</span>
                                <span class="post_upload_day">·</span>
                                <span class="post_upload_day">1개의 댓글</span>
                            </div>
                        </div>
                    </div>

                    <ul class="post_bottom_info_div clear_fix">
                        <li class="user_profile_img_div">
                        </li>

                        <li class="user_profile_span_div">
                            <span class="user_profile_by">by</span>
                            <span class="user_profile_name">강준모</span>
                        </li>

                        <li class="post_util_info_div clear_fix">
                            <div class="view_count_div clear_fix">
                                <div class="view_count_img">

                                </div>

                                <span class="view_count_span">
                                        163
                                    </span>
                            </div>

                            <div class="like_count_div clear_fix">
                                <div class="like_count_img">

                                </div>

                                <span class="like_count_span">
                                        163
                                    </span>
                            </div>
                        </li>
                    </ul>
                </a>
            </div>
        </li>
    </script>

    <!-- 썸네일 이미지가 없는 포스트 템플릿 -->
    <script id="no_thumbnail_post_template" type="text/x-handlebars-template">
        <li class="post_board">
            <div class="post_board_div">
                <a href="/post?id=959584584" class="post_link">
                    <div class="no_thumbnail_post_detail_info_box">
                        <div class="no_thumbnail_post_detail_info_div">
                            <div class="no_thumbnail_post_title_div">
                                <h4 class="no_thumbnail_post_title">안녕하세요</h4>
                                <p class="no_thumbnail_post_desc"></p>
                            </div>
                        </div>
                        <div class="no_thumbnail_post_sub_info_div clear_fix">
                            <div class="no_thumbnail_post_upload_div">
                                <span class="no_thumbnail_post_upload_day">25%</span>
                                <span class="no_thumbnail_post_upload_day">·</span>
                                <span class="no_thumbnail_post_upload_day">1개의 댓글</span>
                            </div>
                        </div>
                    </div>

                    <ul class="no_thumbnail_post_bottom_info_div clear_fix">
                        <li class="no_thumbnail_user_profile_img_div">
                        </li>

                        <li class="no_thumbnail_user_profile_span_div">
                            <span class="no_thumbnail_user_profile_by">by</span>
                            <span class="no_thumbnail_user_profile_name">강준모</span>
                        </li>

                        <li class="no_thumbnail_post_util_info_div clear_fix">
                            <div class="no_thumbnail_view_count_div clear_fix">
                                <div class="no_thumbnail_view_count_img">

                                </div>

                                <span class="no_thumbnail_view_count_span">
                                        163
                                    </span>
                            </div>

                            <div class="no_thumbnail_like_count_div clear_fix">
                                <div class="no_thumbnail_like_count_img">

                                </div>

                                <span class="no_thumbnail_like_count_span">
                                        163
                                    </span>
                            </div>
                        </li>
                    </ul>
                    <div class="no_thumbnail_post_bottom_info_div">
                    </div>
                </a>
            </div>
        </li>
    </script>

    <!-- 블로그 포스트 에러 메시지 템플릿 -->
    <script id="blog-post-error-message-template" type="text/x-handlebars-template">
        <h3 class="blog_post_error">
            게시글을 로드하는데 실패하였습니다.
        </h3>

        <p class="blog_post_error_message_text">
            {{message}}
        </p>
    </script>

    <!-- 카테고리 포스트 게시글 템플릿 -->
    <script id="blog-post-category-template" type="text/x-handlebars-template">
        <h3 class="blog_post_category_text">
            {{type}} <span class="blog_post_category_count">({{count}})</span>
        </h3>
    </script>

    <!--포스트 게시글 by image -->
    <script id="blog-post-image-template" type="text/x-handlebars-template">
        {{#each postDtoList}}
        {{#if (existImage thumbnailImage)}}
        <li class="blog_post_box" id="blog_post_box_exist_image">
            <a href="/post/{{id}}" class="blog_post_image_link clear_fix">
                <div class="blog_post_text_box">
                    <h3 class="blog_post_title">{{title}}</h3>

                    <div class="blog_post_upper_block">
                        <p class="blog_post_text">
                            {{{getInnerText contents}}}
                        </p>
                    </div>
                </div>

                <div class="blog_post_image_box">
                    <img class="blog_post_image"
                         src="{{thumbnailImage}}"
                         alt="포스트 이미지">
                </div>
            </a>

            <div>
                <button value="/category/{{categoryId}}" class="common_button_text blog_post_category_link">
                    {{category}}
                </button>
                <span class="blog_post_post_date_text">{{registerTime}}</span>
            </div>
        </li>
        {{else}}
        <li class="blog_post_box" id="blog_post_box_no_image">
            <a href="/post/{{id}}" class="blog_post_image_link clear_fix">
                <div class="blog_post_text_box blog_post_no_image">
                    <h3 class="blog_post_title">{{title}}</h3>

                    <div class="blog_post_upper_block">
                        <p class="blog_post_text">
                            {{{getInnerText contents}}}
                        </p>
                    </div>
                </div>
            </a>

            <div>
                <button value="/category/{{categoryId}}" class="common_button_text blog_post_category_link">
                    {{category}}
                </button>
                <span class="blog_post_post_date_text">{{registerTime}}</span>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </script>
</th:block>
</html>