.blog_header_container {
    float: left;
    max-width: 220px;
    border-right: 1px solid #e3e3e3;
}

.blog_header_container .blog_header_container_div {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* 사용자 프로필 스타일 정의 */
.blog_header_container .blog_header_profile_container {
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

.blog_header_plain_text {
    margin: 5px 0 0 0;
    color: rgb(0, 0, 0);
    font-size: 13px;
}

.log_header_plain_nickname {
    font-weight: bold;
}

.blog_header_container .blog_header_profile_container .default_user_profile_image {
    cursor: pointer;
    object-fit: cover;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.blog_header_container .blog_header_profile_container .blog_header_user_profile_name .blog_header_plain_intro {
    font-size: 13px;
    color: #333;
    padding: 10px 13px 3px 13px;
    line-height: 20px;
}

/* 소개 스타일 정의 */
.blog_header_container .intro_container {
    padding: 13px 0px 10px 13px
}

.blog_header_container .intro_container .intro_button {
    color: #607d8b;
    font-size: 11px;
    margin-left: 3px;
    float: left;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
}

.blog_header_container .intro_container .intro_button:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* 글쓰기 스타일 정의 */
.blog_header_container .post_write_container {
    padding: 0px 0px 5px 13px;
}

.blog_header_container .post_write_container .post_write_link_container {
    display: flex;
    align-items: center;
}

.blog_header_container .post_write_container .post_write_link_container .post_write_image {
    width: 13px;
    height: 13px;
}

.blog_header_container .post_write_container .post_write_link_container .post_write_link {
    cursor: pointer;
    color: #333333;
    font-size: 11px;
    margin-left: 3px;
    font-weight: bold;
}

.blog_header_container .post_write_container .post_write_link_container .post_write_link:hover {
    text-decoration: underline;
}

/* 카테고리 스타일 정의 */
.category_count_text {
    font-size: 11px;
}

.sub_category_count_text {
    font-size: 10px;
}

.blog_header_category_container .blog_header_category_list {
    padding: 16px 0px 16px 13px;
    border-bottom: 1px solid #eeeeee;
}

.blog_header_category_container .blog_header_category_list .total_category_search_title {
    cursor: pointer;
    margin: 0;
    font-size: 13px;
    color: #333;
}

.blog_header_category_container .blog_header_category_list .total_category_search_title:hover {
    font-weight: bold;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem {
    margin-top: 17px;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_category_title {
    cursor: pointer;
    font-size: 13px;
    color: #0d0a0a;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_category_title:hover {
    font-weight: bold;
}

/* 서브 카테고리 스타일 정의 */
.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_sub_category_list {
    margin-left: 10px;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_sub_category_list .blog_header_sub_category_elem:nth-child(n+2) {
    margin-top: 5px;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_sub_category_list .blog_header_sub_category_elem .blog_header_sub_category_title {
    cursor: pointer;
    font-size: 12px;
    color: #818181;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_sub_category_list .blog_header_sub_category_elem .blog_header_sub_category_title:hover {
    font-weight: bold;
}

/* calendar style */
#calendar {
    width: 200px;
    margin: 0 auto;
    font-size: 10px;
}

.fc-toolbar {
    font-size: .9em;
}

.fc-toolbar h2 {
    font-size: 12px;
    white-space: normal !important;
}

/* click +2 more for popup */
.fc-more-cell a {
    display: block;
    width: 85%;
    margin: 1px auto 0 auto;
    border-radius: 3px;
    background: grey;
    color: transparent;
    overflow: hidden;
    height: 4px;
}

.fc-more-popover {
    width: 100px;
}

.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event, .fc-content {
    font-size: 0;
    overflow: hidden;
    height: 2px;
}

.fc-view-agendaWeek .fc-event-vert {
    font-size: 0;
    overflow: hidden;
    width: 2px !important;
}

.fc-agenda-axis {
    width: 20px !important;
    font-size: .7em;
}

.fc-button-content {
    padding: 0;
}

/* 날짜 스타일 */
.calender_container {
    margin-top: 20px;
}

/* 최신글 인기글 스타일 */
.recent_popular_post_container {
    padding: 20px 0px 0px 13px;
}

.recent_popular_post_container .recent_popular_post_title {
    margin: 0;
    float: left;
    font-size: 13px;
    color: #777;
    cursor: pointer;
}

.recent_popular_post_container .recent_popular_post_title:hover {
    text-decoration: underline;
}

.recent_popular_post_container .popular_post_title {
    margin-left: 30px;
}

.recent_popular_post_container .recent_popular_post_block {
    padding-top: 15px;
    height: 60px;
    padding-right: 10px;
}

.recent_popular_post_container .recent_post_block {
    display: none;
}

.recent_popular_post_container .popular_post_block {
    display: none;
}

.recent_popular_post_container .recent_popular_post_block .post_link_container :hover {
    color: black;
}

.recent_popular_post_container .recent_popular_post_block .post_link_container .post_text_block {
    float: left;
    width: 70%;
    height: 100%;
    color: #777;
    padding-top: 3px;
}

.recent_popular_post_container .recent_popular_post_block .post_link_container .post_image_block {
    float: right;
    width: 30%;
    height: 100%;
}

.recent_popular_post_container .recent_popular_post_block .post_link_container .post_image {
    width: 100%;
    height: 100%;
}

.recent_popular_post_container .recent_popular_post_block .post_link_container .post_text,
.recent_popular_post_container .recent_popular_post_block .post_link_container .post_date {
    margin: 0;
}

.recent_popular_post_container .recent_popular_post_block .post_link_container .post_text {
    font-size: 13px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 17px;
}

.recent_popular_post_container .recent_popular_post_block .post_link_container .post_date {
    font-size: 12px;
    margin-top: 10px;
}

/* 최신 댓글 스타일 */
.recent_comment_container {
    padding: 25px 0px 0px 13px;
}

.recent_comment_container .recent_comment_title {
    margin: 0;
    font-size: 13px;
    color: #333;
}

.recent_comment_container .recent_comment_block {
    padding: 10px 10px 0px 0px;
}

.recent_comment_container .recent_comment_block .comment_div {
    padding: 5px 0 5px;
    font-size: 0.8125em;
    line-height: 1.25rem;
    color: #777;
}

.recent_comment_container .recent_comment_block .comment_div .comment_link:hover {
    color: darkgray;
    text-decoration: underline;
}

/* 태그 스타일 */
.tag_container {
    padding: 20px 20px 10px 13px;
    border-bottom: 1px solid #eeeeee;
}

.tag_container .tag_title {
    color: #333;
    font-size: 13px;
    margin-bottom: 6px;
}

.tag_container .tag_count {
    font-size: 11px;
    color: #333;
}

.tag_container .tag_div {
    padding: 3px 10px 0px 0px;
    font-size: 12px;
}

.tag_container .tag_box {
    margin-top: 3px;
    display: inline-block;
}

.tag_container .tag_box :hover {
    font-weight: bold;
    color: #333333;
}

.tag_container .tag_scroll_container {
    max-height: 300px;
    overflow-y: scroll;
}

.tag_container .tag_scroll_container::-webkit-scrollbar {
    width: 10px;
}

.tag_container .tag_scroll_container::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 10px;
}

.tag_container .tag_scroll_container::-webkit-scrollbar-track {
    background-color: #babdbf;
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px #ffffff;
}

/* 검색 스타일 */
.search_container {
    padding: 16px 0px 16px 13px;
    border-bottom: 1px solid #eeeeee;
}

.search_container .search_blog_input {
    height: 23px;
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
    font-size: 13px;
    line-height: 13px;
    padding: 2px 2px 2px 5px;
}

.search_container .search_blog_button {
    border: 0;
    cursor: pointer;
    vertical-align: middle;
    background-color: #ffffff;
    padding: 0;
    margin-left: 2px;
}

.search_container .search_blog_button .search_blog_button_img {
    width: 20px;
    height: 20px;
}

/* 방문자수 스타일 */
.visitor_notice_container {
    padding: 20px 20px 0px 13px;
}

.visitor_notice_container .total_visitor_container {
    float: left;
}

.visitor_notice_container .total_visitor_container .visitor_notice_title {
    margin: 0;
}

.visitor_notice_container .total_visitor_container .total_visitor_text {
    color: #555;
    font-size: 13px;
    font-weight: bold;
}

.visitor_notice_container .total_visitor_container .total_visitor_count_text {
    font-size: 12px;
    color: #555;
    margin-top: 6px;
}

.day_visitor_container {
    float: right;
}

.day_visitor_container span {
    vertical-align: top;
}

.day_visitor_container .today_visitor_container,
.day_visitor_container .yesterday_visitor_container {
    color: #555;
}

.day_visitor_container .today_visitor_container .today_visitor_text,
.day_visitor_container .yesterday_visitor_container .yesterday_visitor_text {
    font-size: 13px;
    font-weight: bold;
}

.day_visitor_container .today_visitor_container .today_visitor_count_text,
.day_visitor_container .yesterday_visitor_container .yesterday_visitor_count_text {
    font-size: 12px;
    margin-left: 2px;
}

.day_visitor_container .yesterday_visitor_container {
    margin-top: 3px;
}

/* audio player 스타일 */
.audioPlayerBlock {
    margin-top: 20px;
    margin-bottom: 25px;
}

/* SNS 스타일 */
.user_sns_container {
    padding: 22px 20px 0px 13px;
}

.user_sns_container .user_sns_link {
    float: left;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}

.user_sns_container .user_sns_link:nth-child(n+2) {
    margin-left: 20px;
}

