.header_box {
    margin: 0 auto;
    height: 100px;
    width: 988px;
}

.header_box .logo_box_div {
    float: left;
}

.header_box .user_util_box {
    float: right;
    line-height: 100px;
    position: relative;
}

.header_box .user_util_box .user_util_list {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_box .user_util_box .user_util_list .user_util_item {
    height: 35%;
}

.user_util_box .user_util_list .user_util_item:nth-child(-n+3) {
    margin-right: 30px;
}

.header_box .user_util_box .user_util_list .user_util_item img {
    height: 100%;
}

.header_box .user_util_box .header_util_button {
    outline: 0;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
    line-height: normal;
}

.header_box .user_util_box .login_button {
    padding: 7px 15px 7px 15px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: #212529;
    color: white;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}

.header_box .user_util_box .day_night_skin_button {
    width: 55px;
    height: 50px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.header_box .user_util_box .user_profile_button {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
}

.header_box .user_util_box .user_profile_button .header_profile_image {
    cursor: pointer;
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.header_box .user_util_box .user_option_div {
    position: absolute;
    top: 74px;
    right: -16px;
    width: 120px;
    text-align: center;
    z-index: 5;
    background: #fdfdfd;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
    display: none;
}

.header_box .user_util_box .user_option_div .user_option_item {
    position: relative;
    height: 50px;
}

.header_box .user_util_box .user_option_div .user_option_item .user_option_link {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    line-height: 50px;
    color: #212529;
    font-weight: 500;
    font-size: 13px;
}

.header_box .user_util_box .user_option_div .user_option_item .user_option_link:hover {
    background-color: #eeeeee;
    color: #6de36d;
}
