/** 헤더 및 로고 박스 스타일 정의 **/
.header_box {
    margin: 0 auto;
    height: 100px;
    width: 988px;
}

.header_box .logo_box_div {
    float: left;
}

.header_box .user_util_box {
    float: right;
    line-height: 100px;
    position: relative;
}

.header_box .user_util_box .user_util_list {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_box .user_util_box .user_util_list .user_util_item {
    position: relative;
    height: 35%;
}

.user_util_box .user_util_list .user_util_item:nth-child(-n+3) {
    margin-right: 30px;
}


.header_box .user_util_box .header_util_button {
    outline: 0;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
    line-height: normal;
}

/** 사용자 좋아요 조회 버튼 스타일 정의 **/
.header_box .user_util_box .user_util_item .user_like_post_option_container {
    position: absolute;
    top: 26px;
    width: 200px;
    height: 33px;
    left: -93px;
    z-index: 6;
}

.header_box .user_util_box .user_util_item .user_like_post_option_container .user_like_post_block_close_button {
    position: absolute;
    background-color: #ffffff;
    outline: 0;
    border: 0;
    width: 22px;
    height: 22px;
    padding: 0;
    top: 0px;
    right: 2px;
    visibility: hidden;
    cursor: pointer;
}

.header_box .user_util_box .user_util_item .user_like_post_option_container .user_like_post_block_close_button .user_like_post_block_close_button_image {
    display: block;
}

.header_box .user_util_box .user_util_item .user_like_post_option_container .user_like_post_block_reload_button {
    position: absolute;
    background-color: #ffffff;
    outline: 0;
    border: 0;
    width: 17px;
    height: 17px;
    padding: 0;
    top: 3px;
    right: 35px;
    visibility: hidden;
    cursor: pointer;
}

.header_box .user_util_box .user_util_item .user_like_post_option_container .user_like_post_block_reload_button .user_like_post_block_reload_button_image {
    display: block;
}

.header_box .user_util_box .user_util_item .user_like_post_container {
    position: absolute;
    width: 200px;
    border: 1px solid #ced4da;
    top: 25px;
    left: -93px;
    background-color: #ffffff;
    z-index: 5;
    display: none;
    min-height: 55px;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list {
    max-height: 300px;
    margin: 40px 10px 15px 10px;
    overflow-x: clip;
    overflow-y: scroll;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post {
    position: relative;
    height: 35%;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post:nth-child(n+2) {
    margin-top: 20px;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post .user_like_post_like_block {
    float: left;
    width: 100%;
    height: 100%;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post .user_like_post_like_block .user_like_post_title {
    font-size: 13px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    width: 70%;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post .user_like_post_like_block .user_like_post_writer {
    font-size: 11px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 15px;
    margin-top: 4px;
    margin-left: 0px;
    color: #8b8b8b;
    width: 70%;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post .user_like_post_thumbnail_container {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 2px;
    right: 6px;
    z-index: -3;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post .user_like_post_link {
    display: block;
    height: 100%;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post .user_like_post_link:hover {
    color: black;
}

.header_box .user_util_box .user_util_item .user_like_post_container .user_like_post_list .user_like_post .user_like_post_thumbnail_container .user_like_post_thumbnail_image {
    width: 100%;
    height: 100%;
    position: absolute;
}

/** 로그인 버튼 및 기타 버튼 스타일 정의 **/
.header_box .user_util_box .login_button {
    padding: 7px 15px 7px 15px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-weight: bold;
    word-break: keep-all;
    background: #212529;
    color: white;
    transition: all 0.125s ease-in 0s;
    cursor: pointer;
}

.header_box .user_util_box .day_night_skin_button {
    width: 55px;
    height: 50px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.header_box .user_util_box .user_profile_button {
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
}

.header_box .user_util_box .user_profile_button .header_profile_image {
    cursor: pointer;
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.header_box .user_util_box .user_option_div {
    position: absolute;
    top: 74px;
    right: -16px;
    width: 120px;
    text-align: center;
    z-index: 5;
    background: #fdfdfd;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
    display: none;
}

.header_box .user_util_box .user_option_div .user_option_item {
    position: relative;
    height: 50px;
}

.header_box .user_util_box .user_option_div .user_option_item .user_option_link {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    line-height: 50px;
    color: #212529;
    font-weight: 500;
    font-size: 13px;
}

.header_box .user_util_box .user_option_div .user_option_item .user_option_link:hover {
    background-color: #eeeeee;
    color: #6de36d;
}

/** 기타 스타일 정의 **/
.scroll_container {
    max-height: 300px;
    overflow-y: scroll;
}

.scroll_container::-webkit-scrollbar {
    width: 10px;
}

.scroll_container::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 10px;
}

.scroll_container::-webkit-scrollbar-track {
    background-color: #babdbf;
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px #ffffff;
}
