/*
포스팅 관련 종합 CSS 범용 컴포넌트 스타일 정의
*/
img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: underline;
    color: #06c;
}

pre {
    white-space: pre-wrap;
    border: 1px solid #c9c9c9;
    padding: 10px;
    background-color: #ffffff;
}

.search_result_box {
    display: none;
}

/* 포스트 탐색 스타일 */
.post_search_block {
    min-height: 500px;
}

.blog_post_board .blog_list {
    padding: 25px 0 0 0;
}

.blog_post_board .blog_list .empty_image_div {
    text-align: center;
    display: none;
}

.blog_post_board .blog_list .empty_image_div .message {
    font-size: 20px;
    text-decoration-line: underline;
}

.blog_post_board .blog_list .post_board {
    float: left;
    width: 316px;
    height: 360px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 10px -2px rgb(0 0 0 / 6%), 0px 0px 1px 0px rgb(0 0 0 / 28%);
    box-shadow: 0px 2px 10px -2px rgb(0 0 0 / 6%), 0px 0px 1px 0px rgb(0 0 0 / 28%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blog_post_board .blog_list .post_board:nth-child(3n),
.blog_post_board .blog_list .post_board:nth-child(3n-1) {
    margin-left: 20px;
}

.blog_post_board .blog_list .post_board:nth-child(n+4) {
    margin-top: 20px;
}

.blog_post_board .blog_list .post_board .post_board_div {
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link {
    height: 100%;
    display: block;
    position: relative;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link:hover::after,
.blog_post_board .blog_list .post_board .post_board_div .post_link:focus::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_img_board {
    overflow: hidden;
    height: 50%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_img_board .post_img {
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box {
    height: 140px;
    position: relative;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box .post_detail_info_div {
    padding: 15px 15px 10px 15px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box .post_title_div {
    padding-bottom: 9px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box .post_title_div .post_title {
    display: block;
    color: #212529;
    font-size: 15px;
    line-height: 18px;
    margin: 0px 0px 4px;
    height: 18px;
    font-weight: bold;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Spoqa-Medium", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Arial, sans-serif;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box .post_title_div .post_desc {
    margin: 0px 0px 0.5rem;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.5;
    overflow: hidden;
    color: #495057;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box .post_sub_info_div {
    padding-bottom: 2px;
    line-height: 16px;
    font-size: 11px;
    color: #222;
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box .post_sub_info_div .separator {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box .post_sub_info_div .post_upload_div .post_upload_day {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #868e96;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_detail_info_box .post_sub_info_div .thumbnail_post_category_div .thumbnail_post_category_span {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #94b8df;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #f1f3f5;
    font-size: 0.75rem;
    line-height: 41px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .user_profile_img_div {
    float: left;
    width: 25px;
    height: 100%;
    background-image: url(../images/default_user_thumbnail.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 7px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .user_profile_span_div {
    float: left;
    margin-left: 10px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .user_profile_span_div .user_profile_by {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #868e96;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .user_profile_span_div .user_profile_name {
    color: #212529;
    font-weight: bold;
    font-size: 0.75rem;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .post_util_info_div {
    float: right;
    height: 100%;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .view_count_div {
    float: left;
    height: 100%;
    margin-right: 7px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .view_count_div .view_count_img {
    float: left;
    width: 13px;
    margin-right: 5px;
    height: 100%;
    background-image: url(../images/view.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .view_count_div .view_count_span {
    font-size: 0.75rem;
    color: #868e96;
    float: right;
    height: 100%;
    line-height: 41px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .post_util_info_div .like_count_div {
    float: right;
    height: 100%;
    margin-right: 7px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .post_util_info_div .like_count_div .like_count_img {
    float: left;
    width: 13px;
    margin-right: 5px;
    height: 100%;
    background-image: url(../images/like.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .post_bottom_info_div .post_util_info_div .like_count_div .like_count_span {
    font-size: 0.75rem;
    color: #868e96;
    float: right;
    height: 100%;
    line-height: 41px;
}

/* blog post style -2 (no thumbnail) */
.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box {
    height: 320px;
    position: relative;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box .no_thumbnail_post_detail_info_div {
    padding: 15px 15px 10px 15px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box .no_thumbnail_post_title_div {
    padding-bottom: 9px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box .no_thumbnail_post_title_div .no_thumbnail_post_title {
    display: block;
    color: #212529;
    font-size: 15px;
    line-height: 18px;
    margin: 0px 0px 4px;
    height: 18px;
    font-weight: bold;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Spoqa-Medium", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Arial, sans-serif;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box .no_thumbnail_post_title_div .no_thumbnail_post_desc {
    margin: 0px 0px 0.5rem;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.5;
    overflow: hidden;
    color: #495057;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box .post_title_div .no_thumbnail_post_desc {
    margin: 0px 0px 0.5rem;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.5;
    overflow: hidden;
    color: #495057;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box .no_thumbnail_post_sub_info_div {
    padding-bottom: 5px;
    line-height: 16px;
    font-size: 11px;
    color: #222;
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box .no_thumbnail_post_sub_info_div .no_thumbnail_post_upload_div .no_thumbnail_post_upload_day {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #868e96;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_detail_info_box .no_thumbnail_post_sub_info_div .no_thumbnail_post_category_div .no_thumbnail_post_category_span {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #94b8df;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #f1f3f5;
    font-size: 0.75rem;
    line-height: 41px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_user_profile_img_div {
    float: left;
    width: 25px;
    height: 100%;
    background-image: url(../images/default_user_thumbnail.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 7px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_user_profile_span_div {
    float: left;
    margin-left: 15px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_user_profile_span_div .no_thumbnail_user_profile_by {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #868e96;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_user_profile_span_div .no_thumbnail_user_profile_name {
    color: #212529;
    font-weight: bold;
    font-size: 0.75rem;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_post_util_info_div {
    float: right;
    height: 100%;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_view_count_div {
    float: left;
    height: 100%;
    margin-right: 7px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_view_count_div .no_thumbnail_view_count_img {
    float: left;
    width: 13px;
    margin-right: 5px;
    height: 100%;
    background-image: url(../images/view.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_view_count_div .no_thumbnail_view_count_span {
    font-size: 0.75rem;
    color: #868e96;
    float: right;
    height: 100%;
    line-height: 41px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_post_util_info_div .no_thumbnail_like_count_div {
    float: right;
    height: 100%;
    margin-right: 7px;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_post_util_info_div .no_thumbnail_like_count_div .no_thumbnail_like_count_img {
    float: left;
    width: 13px;
    margin-right: 5px;
    height: 100%;
    background-image: url(../images/like.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blog_post_board .blog_list .post_board .post_board_div .post_link .no_thumbnail_post_bottom_info_div .no_thumbnail_post_util_info_div .no_thumbnail_like_count_div .no_thumbnail_like_count_span {
    font-size: 0.75rem;
    color: #868e96;
    float: right;
    height: 100%;
    line-height: 41px;
}

/* post paging style */
.post_search_page_container {
    padding-top: 11px;
    padding-bottom: 7px;
}
