@charset "utf-8";

/*기본스타일 정의*/
html,
body {
    margin: 0;
    padding: 0;
    min-width: 1080px;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
    position: relative;
    min-height: 100%;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

strong {
    font-weight: bold;
}

.clear_fix::after {
    content: "";
    display: block;
    clear: both;
}

.blind {
    position: absolute;: overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.clear_fix_block {
    float: left;
}

.center_fix {
    display: flex;
    align-items: center;
}

.validation_error {
    color: green;
    font-size: 11px;
    padding: 0 0 5px 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
}

.common_gray_underline {
    border-bottom: 1px solid #eeeeee;
}

.common_opacity_gray {
    opacity: 30%;
}

.common_cursor_pointer {
    cursor: pointer;
}

.common_display_hidden {
    display: none;
}

.common_padding_bottom {
    padding-bottom: 10px;
}

/* outline 테두리 속성 수정 */
input:focus {
    outline: 2px solid #d50000;
}

/* outline 테두리 없애기 */
input:focus {
    outline: none;
}

/* common form component
/* common input label, form*/
.common_button_image_style {
    width: 100%;
    height: 100%;
}

.common_button_text {
    background: #ffffff;
    border: none;
    padding: 0;
}

.small_text_font {
    color: #888;
    font-size: 11px;
}

.footer_bottom_padding {
    padding-bottom: 120px;
}

.common_form_container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.common_form_title {
    font-size: 25px;
    color: #333;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
}

.common_form {
    border: 1px solid #e3e3e3;
    padding: 10px 0px 10px 0px;
    position: relative;
}

.common_input_div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.common_input_label {
    float: left;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.common_select_form {
    width: 298px;
    height: 30px;
    border: 1px solid #d9d9d9;
    font-size: 12px;
}

.common_post_thumbnail_label {
    background-image: url(/images/post_thumbnail.png);
}

.common_tag_label {
    background-image: url(/images/tag.png);
}

.common_category_label {
    background-image: url(/images/category.png);
}

.common_notice_bell_label {
    background-image: url(/images/notice_bell.png);
}

.common_note_write_label {
    background-image: url(/images/note_write.png);
}

.common_close_label {
    background-image: url(/images/close.png);
}

.common_email_label {
    background-image: url(/images/email.png);
}

.common_password_label {
    background-image: url(/images/password.png);
}

.common_id_label {
    background-image: url(/images/id.png);
}

.common_nickname_label {
    background-image: url(/images/nickname.png);
}

.common_greetings_label {
    background-image: url(/images/greeting.png);
}

.common_blog_name_label {
    background-image: url(/images/blog_name.png);
}

.common_social_address_label {
    background-image: url(/images/address.png);
}

.common_github_label {
    background-image: url(/images/github.png);
}

.common_twitter_label {
    background-image: url(/images/twitter.png);
}

.common_instagram_label {
    background-image: url(/images/instagram.png);
}

.common_check_label {
    background-image: url(/images/check.png);
}

.common_edit_label {
    background-image: url(/images/edit.png);
}

.common_source_view_label {
    background-image: url(/images/source_view.png);
}

.common_input_form {
    float: left;
    margin-left: 10px;
    height: 35px;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px;
    padding-left: 3px;
}

.spel_div {
    margin: 0 auto;
    width: 350px;
    text-align: left;
}

.spel_div .spel_condition_tag {
    padding: 5px 0 5px 45px;
    margin: 0;
}

.common_badge_button_style {
    padding: 3px 5px 3px 5px;
    font-size: 15px;
}

.common_sub_link_div {
    margin: 0 auto;
    width: 350px;
    padding-top: 10px;
}

.common_sub_link_div .common_left_link {
    float: left;
    margin-left: 41px;
}

.common_sub_link_div .common_right_link {
    float: right;
}

.common_submit_button {
    position: absolute;
    bottom: -80px;
    left: 50%;
    width: 140px;
    height: 40px;
    background-color: #0074e9;
    color: #fff;
    /* box-shadow: inset 0 -2px 0 rgb(0 0 0 / 38%); */
    /* padding: 16px 17px; */
    font-family: apple sd gothic neo, malgun gothic, nanumbarungothic, nanumgothic, dotum, sans-serif;
    font-size: 17px;
    line-height: 20px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.common_check_button {
    position: absolute;
    font-size: 12px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.3s;
    box-shadow: 3px 3px 3px #eeeeee;
}

.common_check_button:active {
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}

.common_red_button {
    font-size: 12px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.3s;
    box-shadow: 3px 3px 3px #eeeeee;
    border: 1px solid #d0274b;
    background-color: #d0274b;
}

.common_orange_button {
    font-size: 12px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.3s;
    box-shadow: 3px 3px 3px #eeeeee;
    border: 1px solid #d78252;
    background-color: #d78252;
}

.common_blue_button {
    font-size: 12px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.3s;
    box-shadow: 3px 3px 3px #eeeeee;
    border: 1px solid #4ca5eb;
    background-color: #4ca5eb;
}

.common_gray_text {
    color: #9e9e9e;
    font-size: 15px;
    text-align: left;
    margin: 0;
    font-weight: bold;
}

.common_dark_green_text {
    color: darkgreen;
    font-size: 15px;
    text-align: left;
    margin: 0;
    font-weight: bold;
}

.common_dark_cyan_text {
    color: #607d8b;
    font-size: 15px;
    text-align: left;
    margin: 0;
    font-weight: bold;
}

.common_plain_text {
    color: #333;
    font-size: 15px;
}

.common_cloudy_text {
    font-size: 15px;
    color: #ccc;
}

.common_home_link {
    width: 100%;
    color: green;
}

/* logo-box */
.logo_box {
    line-height: 100px;
}

.logo_box .logo_link {
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
}

.logo_box .logo_img {
    height: 100%;
    border-radius: 100%;
    animation: rotate_image 5s linear infinite;
    transform-origin: 50% 50%;
}

.logo_box .logo_name {
    display: block;
    float: right;
    margin-left: 10px;
    color: #03a9f4;
    font-family: "바른고딕", NanumBarunGothic, NanumBarunGothicWebFont, "NanumBarun Gothic", "맑은 고딕", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 25px;
}

/* login-popup */
.openBtn {
    display: flex;
    justify-content: left;
}

.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.formContainer .login_popup_title {
    color: #333;
}

.formContainer .email_span {
    color: #333;
    font-size: 16px;
}

.formContainer .password_span {
    color: #333;
    font-size: 16px;
}

.formContainer input[type=text],
.formContainer input[type=password] {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 10px 0;
    border: 1px solid #9e9e9e4a;
    background: #eee;
    text-indent: 8px;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

.formContainer .option_div {
    padding-bottom: 10px;
}

.formContainer .option_div .signup_div {
    float: left;
    line-height: 29px;
    font-size: 13px;
}

.formContainer .option_div .signup_div:hover {
    font-weight: bold;
}


.formContainer .option_div .find_pw_div {
    color: #333;
    font-size: 13px;
    line-height: 29px;
    float: right;
}

.formContainer .option_div .find_pw_div:hover {
    font-weight: bold;
}

.formContainer .option_div .signup_div a,
.formContainer .option_div .find_pw_div a {
    color: #333;
    text-decoration: none;
}

/* calendar style */
.fc-scroller {
    height: auto !important;
}

.fc-head .fc-widget-header {
    margin-right: 0 !important;
}

.fc-scroller {
    overflow: visible !important;
}

.fc .fc-scrollgrid, .fc .fc-scrollgrid table {
    width: 193px;
    table-layout: fixed;
}

.fc .fc-scrollgrid-section table {
    height: 1px;
    width: 195px !important;
}

/* emoji style */
#tab-panel {
    position: absolute;
    top: -5px;
    background-color: #ffffff;
    cursor: pointer;
}

/* SCROLLBAR - END - */
.fc .fc-toolbar-title {
    font-size: 1.75em !important;
    color: #165593;
}

.fc .fc-view-harness {
    flex-grow: 1;
    position: relative;
    height: 255px !important;
}

/* blog title style */
.blog-title-style {
    display: inline-block;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    font-size: 3rem;
    -webkit-background-clip: text !important;
    color: transparent;
    cursor: pointer;
}

.blog-title-style:hover {
    display: inline-block;
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    -webkit-background-clip: text !important;
    color: transparent;
}

/* pagination style */
.common-pagination-justify-content-center {
    display: flex;
    justify-content: center;
}

.simple_page_button_style {
    font-size: 12px;
    padding: 4px 6px 4px 6px;
}

.simple_page_button_style:focus {
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    font-weight: bold;
}

/* A-player style */
.aplayer.aplayer-withlist .aplayer-pic {
    height: 70px;
}

.aplayer .aplayer-body .aplayer-pic {
    height: 70px;
}

.aplayer.aplayer-withlist .aplayer-list {
    display: block;
    /*height: 360px;*/
    overflow-y: scroll;
}

.aplayer .aplayer-body .aplayer-list {
    display: block;
    /*height: 360px;*/
    overflow-y: scroll;
}

.aplayer.aplayer-withlist .aplayer-info {
    padding: 24px 7px 0 10px;
    height: 70px;
}

.aplayer .aplayer-body .aplayer-info {
    padding: 24px 7px 0 10px;
    height: 70px;
}