<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="comment-template">
    <!-- handlebars templates -->

    <!-- 댓글 템플릿 -->
    <script id="post-comment-template" type="text/x-handlebars-template">
        <div class="post_comment_count_text_block">
            <span class="post_comment_count_text">댓글</span>
            <span class="post_comment_count">{{totalCount}}</span>
            <span class="post_comment_count_text">개</span>
        </div>

        {{#each commentTotalDtoList}}
        <li class="post_comment_block" id={{{hrefCheck
            commentParentDto.href}}}>
            {{#unless (nullCheck commentParentDto)}}
            {{#if commentParentDto.delete}}
            <span class="post_comment_block_delete_text">댓글이 삭제되었습니다.</span>
            {{else}}
            <div class="post_comment_header clear_fix">
                <div class="comment_user_profile_image_block">
                    {{#if (existImage commentParentDto.userProfileImage)}}
                    <img class="common_button_image_style" src={{{getUserProfileImage
                         commentParentDto.userProfileImage}}} alt="">
                    {{else}}
                    <img class="common_button_image_style" src="../images/comment_default_user_pic.png" alt="">
                    {{/if}}
                </div>

                <div class="comment_user_profile_block">
                    <div class="comment_user_profile_name_block clear_fix">
                        {{#if commentParentDto.anonymous}}
                        <p class="comment_user_profile_name_link">{{commentParentDto.userNickname}}</p>
                        {{else}}
                        <a class="comment_user_profile_name_link common_cursor_pointer"
                           href="/blog/{{commentParentDto.userId}}">{{commentParentDto.userNickname}}</a>
                        {{/if}}

                        {{#if commentParentDto.owner}}
                        <span class="user_profile_owner_badge"><span
                                class="user_profile_owner_text">블로그 주인</span></span>
                        {{/if}}
                    </div>

                    <p class="post_comment_date_text">
                        {{commentParentDto.registerTime}}
                    </p>
                </div>
            </div>

            <div class="post_comment_body">
                <div class="post_comment_text_block">
                        <span class="post_comment_text">
                            {{#if commentParentDto.secret}}
                                비밀글 입니다.
                            {{else}}
                                {{commentParentDto.comment}}
                            {{/if}}
                        </span>

                    {{#unless commentParentDto.secret}}
                    {{#if (existImage commentParentDto.commentImage)}}
                    <div class="post_comment_image_block">
                        <img class="post_comment_image" src="{{commentParentDto.commentImage}}" alt="">
                    </div>
                    {{/if}}
                    {{/unless}}
                </div>

                {{#unless commentParentDto.secret}}
                <div class="post_comment_util_block clear_fix" commentId="{{commentParentDto.id}}">
                    <div class="post_comment_update_delete_block clear_fix">
                        <button class="post_comment_util_button common_button_text post_comment_update_button">
                            <span class="post_comment_util_button_text">수정</span>
                        </button>

                        <span class="post_comment_util_button_text">|</span>

                        <button class="post_comment_util_button common_button_text post_comment_delete_button">
                            <span class="post_comment_util_button_text">삭제</span>
                        </button>
                    </div>

                    <button class="post_comment_util_button post_comment_reply_button common_button_text post_comment_reply_button">
                        <span class="post_comment_util_button_text">답글 쓰기</span>
                    </button>
                </div>
                {{/unless}}
            </div>
            {{/if}}
            {{/unless}}

            <!-- 답글 목록 리스트 -->
            <ul class="sub_post_comment_list_block">
                {{#each commentChildDtoList}}
                <li id={{{hrefCheck href}}} class="sub_post_list">
                    <div class="post_comment_header clear_fix">
                        <div class="comment_user_profile_image_block">
                            {{#if (existImage userProfileImage)}}
                            <img class="common_button_image_style" src={{{getUserProfileImage userProfileImage}}}
                                 alt="">
                            {{else}}
                            <img class="common_button_image_style" src="../images/comment_default_user_pic.png" alt="">
                            {{/if}}
                        </div>

                        <div class="comment_user_profile_block">
                            <div class="comment_user_profile_name_block clear_fix">
                                {{#if anonymous}}
                                <p class="comment_user_profile_name_link">{{userNickname}}</p>
                                {{else}}
                                <a class="comment_user_profile_name_link" href="/blog/{{userId}}">{{userNickname}}</a>
                                {{/if}}

                                {{#if owner}}
                                <span class="user_profile_owner_badge"><span
                                        class="user_profile_owner_text">블로그 주인</span></span>
                                {{/if}}
                            </div>

                            <p class="post_comment_date_text">
                                {{registerTime}}
                            </p>
                        </div>
                    </div>

                    <div class="post_comment_body">
                        <div class="post_comment_text_block">
                            {{#if secret}}
                            <span class="post_comment_text">
                            비밀글 입니다.
                            </span>
                            {{else}}
                            {{#if (nullCheck targetUserId)}}
                            <span class="post_target_user_link">@{{targetUserNickname}}</span>
                            {{else}}
                            <a href="/blog/{{targetUserId}}" class="post_target_user_link">@{{targetUserNickname}}</a>
                            {{/if}}
                            <span class="post_comment_text">
                            {{comment}}
                            </span>
                            {{/if}}

                            {{#unless secret}}
                            {{#if (existImage commentImage)}}
                            <div class="post_comment_image_block">
                                <img class="post_comment_image" src="{{commentImage}}" alt="">
                            </div>
                            {{/if}}
                            {{/unless}}
                        </div>

                        {{#unless secret}}
                        <div class="post_comment_util_block clear_fix" commentId="{{id}}">
                            <div class="post_comment_update_delete_block clear_fix">
                                <button class="post_comment_util_button common_button_text post_comment_update_button">
                                    <span class="post_comment_util_button_text">수정</span>
                                </button>

                                <span class="post_comment_util_button_text">|</span>

                                <button class="post_comment_util_button common_button_text post_comment_delete_button">
                                    <span class="post_comment_util_button_text">삭제</span>
                                </button>
                            </div>
                        </div>
                        {{/unless}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </script>
</th:block>
</html>