<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="like-template">
    <!-- handlebars templates -->
    <script id="like-user-post-template" type="text/x-handlebars-template">
        <ul class="post_like_user_list">
            {{#each userPostLikeList}}
            <li class="post_like_user clear_fix">
                <div class="like_user_post_container">
                    <div class="like_user_image_container">
                        <img class="like_user_image" src={{{getUserProfileImage
                             userProfileThumbnailImage}}} alt="">
                    </div>

                    <div class="like_user_id_container">
                        <a class="like_user_id_link" href="/blog/{{id}}">{{{getCheckedUserName name}}}</a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </script>

    <script id="user-like-post-template" type="text/x-handlebars-template">
        <ul class="user_like_post_list scroll_container" id="user_like_post_list">
            {{#each userLikePostList}}
            <li class="user_like_post clear_fix">
                <a href="/post/{{postId}}?blogId={{blogId}}" class="user_like_post_link">
                    <div class="user_like_post_like_block">
                        <p class="user_like_post_title">{{title}}</p>

                        <p class="user_like_post_writer">{{nickName}}</p>
                    </div>
                </a>

                <div class="user_like_post_thumbnail_container">
                    <img class="user_like_post_thumbnail_image" src={{{getDefaultPostImage
                         postThumbnailImage}}}
                         alt="">
                </div>
            </li>
            {{/each}}
        </ul>
    </script>
</th:block>
</html>