<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="music-template">
    <!-- handlebars templates -->
    <script id="music-template" type="text/x-handlebars-template">
        {{#each musicList}}
        <li class="music_store clear_fix">
            <input type="checkbox" class="music_store_check_box" id="musicStoreCheckBox">

            <div class="clear_fix music_store_total_box" id="musicStoreTotalBox">
                <div class="music_store_image_box">
                    <img class="music_store_image"
                         src={{{getPostThumbnailImage cover}}}
                         alt="music store image">
                </div>

                <div class="music_store_desc_box">
                    <p class="music_store_sing_title">{{name}}</p>
                    <p class="music_store_singer">{{artist}}</p>
                </div>

                <input type="hidden" readonly id="musicStoreIdInput" value="{{musicId}}">
                <input type="hidden" readonly id="musicStoreCategoryIdInput" value="{{categoryId}}">
                <input type="hidden" readonly id="musicStoreTitleInput" value="{{name}}">
                <input type="hidden" readonly id="musicStoreArtistInput" value="{{artist}}">
                <input type="hidden" readonly id="musicStoreUrlInput" value="{{url}}">
                <input type="hidden" readonly id="musicStoreCoverInput" value="{{cover}}">
                <input type="hidden" readonly id="musicStoreLrcInput" value="{{lrc}}">
            </div>
        </li>
        {{/each}}
    </script>

    <script id="music-download-template" type="text/x-handlebars-template">
        {{#each musicList}}
        <li class="music_download clear_fix">
            <input type="checkbox" class="music_download_check_box" id="musicDownloadCheckBox">

            <div class="clear_fix music_download_total_box" id="musicDownloadTotalBox">
                <div class="music_download_image_box">
                    <img class="music_download_image"
                         src={{{getPostThumbnailImage cover}}}
                         alt="music download image">
                </div>

                <div class="music_download_desc_box">
                    <p class="music_download_sing_title">{{name}}</p>
                    <p class="music_download_singer">{{artist}}</p>
                </div>

                <input type="hidden" readonly id="musicDownloadIdInput" value="{{musicId}}">
                <input type="hidden" readonly id="musicDownloadCategoryIdInput" value="{{categoryId}}">
                <input type="hidden" readonly id="musicDownloadTitleInput" value="{{name}}">
                <input type="hidden" readonly id="musicDownloadArtistInput" value="{{artist}}">
                <input type="hidden" readonly id="musicDownloadUrlInput" value="{{url}}">
                <input type="hidden" readonly id="musicDownloadCoverInput" value="{{cover}}">
                <input type="hidden" readonly id="musicDownloadLrcInput" value="{{lrc}}">
            </div>
        </li>
        {{/each}}
    </script>

    <script id="music-category-template" type="text/x-handlebars-template">
        {{#each musicCategoryList}}
        <option value={{categoryId}}>
            {{name}}
        </option>
        {{/each}}
    </script>

    <script id="music-download-category-template" type="text/x-handlebars-template">
        {{#each musicCategoryList}}
        <option value={{id}}>
            {{name}}
        </option>
        {{/each}}
    </script>

    <script id="music-config-template" type="text/x-handlebars-template">
        <div class="music_player_config_box">
            <label class="music_config_label_style" for="listFoldedInput">리스트 접기</label>
            <input class="music_config_checkbox_style" type="checkbox" id="listFoldedInput" {{ternaryOperator listFolded true 'checked' null}}>
        </div>

        <div class="music_player_config_box">
            <label class="music_config_label_style" for="listMaxHeightInput">리스트 최대 높이(px)</label>
            <input class="music_config_number_style" type="number" id="listMaxHeightInput" min="0" value={{listMaxHeight}}>
        </div>

        <div class="music_player_config_box">
            <label class="music_config_label_style" for="autoPlayInput">자동재생</label>
            <input class="music_config_checkbox_style" type="checkbox" id="autoPlayInput" {{ternaryOperator autoPlay true 'checked' null}}>
        </div>

        <div class="music_player_config_box">
            <label class="music_config_label_style" for="duplicatePlayInput">중복재생</label>
            <input  class="music_config_checkbox_style" type="checkbox" id="duplicatePlayInput" {{ternaryOperator duplicatePlay true 'checked' null}}>
        </div>

        <div class="music_player_config_box">
            <label class="music_config_label_style" for="playOrderInput">재생순서</label>
            <select class="music_config_select_style" id="playOrderInput">
                <option {{ternaryOperator playOrder 'FIXED' 'selected' null}} value="FIXED">고정</option>
                <option {{ternaryOperator playOrder 'RANDOM' 'selected' null}} value="RANDOM">랜덤</option>
            </select>
        </div>

        <div class="music_player_config_box">
            <label class="music_config_label_style" for="playModeInput">재생모드</label>
            <select class="music_config_select_style" id="playModeInput">
                <option {{ternaryOperator playMode 'FIXED' 'selected' null}} value="FIXED">Fixed</option>
                <option {{ternaryOperator playMode 'MINI' 'selected' null}} value="MINI">Mini</option>
            </select>
        </div>
    </script>
</th:block>
</html>