<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="notice-template">
    <!-- handlebars templates -->
    <script id="notice-template" type="text/x-handlebars-template">
        {{#each noticeDtoList}}
        <li class="notice_list">
            <a href="/notice/detail/{{noticeId}}" class="notice_link">{{title}}</a>
            <span class="notice_date">{{convertTimeByBrowserTimezone registerTime 'YYYY-MM-DD HH:mm' isBaseTimezone}}</span>
        </li>
        {{/each}}
    </script>
</th:block>
</html>