<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="blog-header" class="blog_header_container">
    <div class="blog_header_container_div">
        <div class="blog_header_profile_container">
            <img class="default_user_profile_image" id="default_user_profile_image"
                 th:src="${#strings.isEmpty(user_profile.profileImages) or #strings.equals(user_profile.profileImages,'<<<undefined>>>') ? '../images/user_default_thumbnail.png' : user_profile.profileImages}">
            <span class="blind">프로필</span>

            <div class="blog_header_user_profile_name">
                <p class="blog_header_plain_text log_header_plain_nickname"
                   th:text="${user_profile.nickname}">닉네임</p>
                <p class="blog_header_plain_text" th:text="'(' + ${user_profile.id} + ')'">id</p>

                <div class="blog_header_plain_intro" th:text="${user_profile.greetings}">
                    소개글
                </div>

                <div class="intro_container clear_fix">
                    <button class="intro_button" id="intro_button">소개</button>
                </div>
            </div>

            <th:block th:if="${#bools.isTrue(blog_owner)}">
                <div class="post_write_container clear_fix">
                    <div class="post_write_link_container">
                        <img class="post_write_image" src="../images/write.png" alt="글쓰기버튼">
                        <a class="post_write_link" id="post_write_button" target="_blank"
                           th:href="'/post/write/' + ${user_profile.id}">글쓰기
                        </a>
                    </div>
                </div>
            </th:block>
        </div>

        <div class="search_container">
            <form action="/post/search" target="_blank" method="get" class="blog_view_search_form" id="postSearchForm">
                <input type="hidden" id="postSearchBlogIdInput" name="blogId" readonly th:value="${blog_info.id}">
                <input type="text" class="search_blog_input" id="postSearchKeywordInput" name="keyword"
                       placeholder="검색어를 입력해주세요." spellcheck="false" required>
                <button type="button" class="search_blog_button" id="postSearchButton" title="게시글 검색">
                    <img class="search_blog_button_img" src="../images/search.gif"/>
                </button>
                <span class="blind">게시글 검색</span>
            </form>
        </div>

        <div class="blog_header_category_container">
            <ul class="blog_header_category_list" id="blog_header_category_list">
                <form action="/category/setting" method="get" id="categorySettingForm">
                    <input type="hidden" name="blogId" readonly th:value="${blog_info.id}">
                    <button type="button" sec:authorize="isAuthenticated()" title="카테고리 수정"
                            class="common_button_text category_setting_button" id="category_setting_button">
                        <img class="common_button_image_style" src="../images/setting.png" alt="">
                    </button>
                </form>

                <li>
                    <button th:value="${category.totalCategoryDto.link}"
                            class="common_button_text total_category_search_title" id="total_category_search_title">
                        전체 카테고리
                        <span class="category_count_text" th:text="'(' + ${category.totalCategoryDto.totalCount} + ')'">전체개수</span>
                    </button>
                </li>

                <th:block th:each="subCategoryDtoList: ${category.subCategoryDtoList}">
                    <li class="blog_header_category_elem">
                        <button th:value="${subCategoryDtoList.parentCategoryDto.link}"
                                class="common_button_text blog_header_category_title"
                                th:text="${subCategoryDtoList.parentCategoryDto.name}">
                            카테고리명
                        </button>
                        <span class="category_count_text"
                              th:text="'(' + ${subCategoryDtoList.parentCategoryDto.postCount} + ')'">(0)</span>

                        <ul class="blog_header_sub_category_list">
                            <th:block th:each="childCategoryDtoList: ${subCategoryDtoList.childCategoryDtoList}">
                                <li class="blog_header_sub_category_elem">
                                    <button th:value="${childCategoryDtoList.link}"
                                            class="common_button_text blog_header_sub_category_title"
                                            th:text="${'- ' + childCategoryDtoList.name}"> 카테고리명
                                    </button>
                                    <span class="sub_category_count_text"
                                          th:text="'(' + ${childCategoryDtoList.postCount} + ')'">(25)</span>
                                </li>
                            </th:block>
                        </ul>
                    </li>
                </th:block>
            </ul>
        </div>

        <ul class="recent_popular_post_container">
            <div class="recent_popular_post_title_container clear_fix">
                <h3 class="recent_popular_post_title recent_post_title" id="recent_post_title">최신글</h3>
                <h3 class="recent_popular_post_title popular_post_title" id="popular_post_title">인기글</h3>
            </div>

            <!-- 최신 글 최대 10개 보여줄 것 -->
            <li class="recent_popular_post_block recent_post_block" id="recent_post_container">
                <a href="/" class="post_link_container clear_fix">
                    <div class="post_text_block">
                        <p class="post_text">테스트 포스트입니다.</p>
                        <p class="post_date">2022.02.15</p>
                    </div>

                    <div class="post_image_block">
                        <img src="../images/default_thumbnail.gif" alt="" class="post_image">
                    </div>
                </a>
            </li>

            <!-- 인기 글 최대 10개 보여줄 것 -->
            <li class="recent_popular_post_block popular_post_block" id="popular_post_container">
                <a href="/" class="recent_popular_post"></a>
            </li>
        </ul>

        <div class="recent_comment_container">
            <h3 class="recent_comment_title">최신 댓글</h3>

            <ul class="recent_comment_block">
                <li class="comment_div">
                    <a href="/" class="comment_link">dfs로 푸는 방법 아주 귀하네요</a>
                </li>
            </ul>
        </div>

        <div class="tag_container">
            <h3 class="tag_title">태그 <span class="tag_count">(0)</span></h3>

            <div class="tag_scroll_container">
                <div class="tag_box">
                    <div class="tag_div">
                        <a href="" class="tag">#안녕하세요</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="visitor_notice_container clear_fix">
            <div class="total_visitor_container">
                <p class="visitor_notice_title total_visitor_text">전체 방문자</p>
                <p class="visitor_notice_title total_visitor_count_text"
                   th:text="${#numbers.formatInteger(1534560, 0, 'COMMA')}">undefined</p>
            </div>

            <div class="day_visitor_container">
                <div class="today_visitor_container">
                    <span class="today_visitor_text">오늘: </span> <span class="today_visitor_count_text"
                                                                       th:text="${#numbers.formatInteger(594, 0, 'COMMA')}">undefined</span>
                </div>

                <div class="yesterday_visitor_container">
                    <span class="yesterday_visitor_text">어제: </span> <span class="yesterday_visitor_count_text"
                                                                           th:text="${#numbers.formatInteger(365, 0, 'COMMA')}">undefined</span>
                </div>
            </div>
        </div>

        <div class="audioPlayerBlock">
            <div id="audio_player"></div>
        </div>

        <div class="calender_container">
            <div id='calendar'></div>
        </div>

        <div class="user_sns_container clear_fix">
            <a href="/" class="user_sns_link common_social_address_label">
                <span class="blind">SNS 링크</span>
            </a>

            <a href="/" class="user_sns_link common_github_label">
                <span class="blind">깃허브 링크</span>
            </a>

            <a href="/" class="user_sns_link common_twitter_label">
                <span class="blind">트위터 링크</span>
            </a>

            <a href="/" class="user_sns_link common_instagram_label">
                <span class="blind">인스타그램 링크</span>
            </a>
        </div>
    </div>

    <input type="hidden" id="user_info_intro"
           th:value="${#strings.isEmpty(blog_info.intro) or #strings.equals(blog_info.intro,'<<<undefined>>>') ? '<p><br></p>' : blog_info.intro}">

    <input type="hidden" id="blog_info_id" readonly th:value="${blog_info.id}">
</header>
</html>