<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>뮤직 플레이 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/music/music-play.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/music/music-play.js}"></script>
</head>

<body>
<div class="music_play_container">
    <h3 class="music_play_title">뮤직 플레이</h3>
</div>
</body>
</html>