/* common style */
.ql-editor {
    padding: 5px 0 5px 0;
}

.post_detail_container {
    position: relative;
    margin: 0 auto;
    width: 988px;
    padding-bottom: 140px;
}

/* post search form 스타일 */
.search_container {
    padding-top: 7px;
    position: absolute;
    right: 0;
    top: -5px;
}

.search_container .search_blog_input {
    height: 25px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    font-size: 11px;
    line-height: 13px;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: #ffffff;
}

.search_container .search_blog_button {
    border: 0;
    cursor: pointer;
    vertical-align: middle;
    background-color: #ffffff;
    padding: 0;
    margin-left: 2px;
}

.search_container .search_blog_button .search_blog_button_img {
    width: 20px;
    height: 20px;
}

/* post title container 스타일 */
.post_detail_container .post_title_container {
    padding: 35px 0px 13px 0;
    border-bottom-width: 0.3px;
    border-bottom-style: solid;
    border-bottom-color: #d9d9d9;
}

.post_detail_container .post_title_container .post_title_block {
    position: relative;
}

.post_detail_container .post_title_container .post_title_text {
    font-size: 20px;
    display: inline;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: se-nanumgothic, \\B098\B214\ACE0\B515, nanumgothic, sans-serif, Meiryo;
    float: left;
    color: #3e3e3e;
}

.post_detail_container .post_title_container .post_title_category_block {
    float: left;
    line-height: 20px;
    margin-left: 5px;
}

.post_detail_container .post_title_container .post_title_category_block .post_title_space_text {
    margin: 0 3px 0 7px;
    color: #9e9e9e;
    font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 11px;
}

.post_detail_container .post_title_container .post_title_category_button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;
}

.post_detail_container .post_title_container .post_title_category_button:hover {
    font-weight: bold;
    color: #9e9e9e;
    text-decoration: underline;
}

.post_detail_container .post_title_container .post_detail_update_container {
    float: right;
    line-height: 20px;
}

.post_detail_container .post_title_container .post_detail_update_container .post_detail_update_button {
    float: left;
    font-size: 12px;
    margin-right: 7px;
    cursor: pointer;
    color: #607d8b;
}

.post_detail_container .post_title_container .post_detail_update_container .post_detail_delete_button {
    float: right;
    font-size: 12px;
    cursor: pointer;
    color: #607d8b;
}

.post_detail_container .post_title_container .post_title_category_block .post_title_category_text {
    font-size: 13px;
    color: #555;
}

.post_detail_container .post_title_container .post_title_category_block .category_post_block {
    position: absolute;
    width: 200px;
    border: 1px solid #ced4da;
    z-index: 5;
    background-color: #ffffff;
    padding: 25px 15px 0px 15px;
    display: none;
}

.post_detail_container .post_title_container .post_title_category_block .category_post_block .category_post_page_container {
    padding-top: 11px;
    padding-bottom: 7px;
}

.post_detail_container .post_title_container .post_title_category_block .category_post_block .category_post_list {
    padding-bottom: 18px;
}

.post_detail_container .post_title_container .post_title_category_block .category_post_block .category_post_list .category_post:nth-child(n+2) {
    margin-top: 11px;
}

.post_detail_container .post_title_container .post_title_category_block .category_post_block .category_post_list .category_post_link {
    color: #6c757d;
    font-size: 13px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post_detail_container .post_title_container .post_title_category_block .category_post_block .category_post_list .category_post_link:hover {
    font-weight: bold;
}

.post_detail_container .post_title_container .post_title_category_block .category_post_block .category_post_list .category_post_date {
    font-size: 5px;
    color: #9e9e9e;
}

.post_detail_container .post_title_container .post_title_category_block .category_post_block .category_post_block_close_button {
    border: none;
    outline: none;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    cursor: pointer;
}

/* post writer container 스타일 */
.post_detail_container .post_title_container .post_writer_profile_container {
    padding-top: 16px;
    margin-left: 3px;
    position: relative;
}

.post_detail_container .post_title_container .post_writer_profile_container .post_writer_profile_img_link {
    text-decoration-line: none;
    display: inline-block;
}

.post_detail_container .post_title_container .post_writer_profile_container .post_writer_profile_img {
    cursor: pointer;
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.post_detail_container .post_title_container .post_writer_profile_container .post_writer_profile_nickname_link {
    color: #557A74;
    font-size: 13px;
    margin-left: 5px;
    text-decoration-line: none;
}

.post_detail_container .post_title_container .post_writer_profile_container .post_register_date_text {
    color: #557A74;
    opacity: .5;
    font-size: 12px;
    margin-left: 3px;
}

.post_detail_container .post_title_container .post_writer_profile_container .post_url_button {
    background-color: #ffffff;
    border: 0;
    position: absolute;
    right: 0;
    top: 24px;
    cursor: pointer;
}

.post_detail_container .post_title_container .post_writer_profile_container .post_url_button:hover {
    text-decoration: underline;
    text-decoration-color: #9e9e9e;
}

.post_detail_container .post_title_container .post_writer_profile_container .post_url_button .post_url_text {
    color: #9e9e9e;
    font-size: 12px;
}

/* post contents 스타일 */
.post_detail_container .post_contents_container {
    padding: 30px 0px 30px 0px;
}

.post_detail_container .post_contents_container .post_contents {
    border: none;
}

/* post tag 스타일 */
.post_tag_container {
    max-height: 75px;
    overflow-y: scroll;
    border-radius: 1px;
    box-sizing: border-box;
    color: #000;
    font-size: 13px;
    /* height: 72px; */
    line-height: 22px;
    overflow-y: auto;
    padding-bottom: 10px;
    width: 390px;
}

.post_tag_container .post_tag_link {
    font-size: 13px;
    color: #607d8b;
    background-color: #eee;
    word-wrap: break-word;
    background-color: #eee;
    border-radius: 2px;
    display: inline-block;
    margin: 0 5px 6px 0;
    padding: 0 3px;
    position: relative;
    vertical-align: top;
    word-break: break-all;
    cursor: pointer;
}

/* post util 스타일 */

/* post like 스타일 */
.post_detail_container .post_util_container .post_like_container {
    float: left;
    border-radius: 16px;
    border: 1px solid #959595;
    border-color: rgba(185, 185, 185, 0.5);
    padding: 0px 10px 0 10px;
}

.post_detail_container .post_util_container .post_like_container .post_like_button {
    background-color: #ffffff;
    border: 0;
    width: 15px;
    padding: 0;
    cursor: pointer;
}

.post_detail_container .post_util_container .post_like_container .post_like_user_check_button {
    background-color: #ffffff;
    border: 0;
    width: 25px;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
}

.post_detail_container .post_util_container .post_like_container .post_like_text {
    font-family: "나눔고딕", NanumGothic, NanumGothicWebFont, "Malgun Gothic", "맑은 고딕", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 11px;
    line-height: 29px;
    font-weight: normal;
    color: #557A74;
}

/* post share 스타일 */
.post_detail_container .post_util_container .post_share_container {
    float: right;
    margin-top: 4px;
}

.post_detail_container .post_util_container .post_share_container .post_share_button {
    background-color: #ffffff;
    border: 0;
    width: 23px;
    padding: 0;
    cursor: pointer;
}

/* 이전/다음글 스타일 */
.post_detail_container .prev_next_category_post_container {
    padding-top: 35px;
    width: 250px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.post_detail_container .prev_next_category_post_container .prev_category_post_container {
    float: left;
}

.post_detail_container .prev_next_category_post_container .next_category_post_container {
    float: right;
}

.post_detail_container .prev_next_category_post_container .prev_next_category_image_container {
    float: left;
    width: 20px;
    height: 20px;
}

.post_detail_container .prev_next_category_post_container .prev_category_post_link {
    float: right;
    text-decoration-color: #333;
    line-height: 20px;
}

.post_detail_container .prev_next_category_post_container .next_category_post_link {
    float: right;
    text-decoration-color: #666;
    line-height: 20px;
}

.post_detail_container .prev_next_category_post_container .prev_next_category_post_text {
    font-size: 15px;
    color: #666;
}