.post_write_container {
    margin: 0 auto;
    width: 988px;
    padding: 20px 0px 30px 0px;
}

.post_write_container .post_write_title {
    font-size: 20px;
    text-align: center;
    color: #628ca1;
    margin: 0;
}

.post_write_container .post_write_top_container {
    padding-bottom: 13px
}

.post_write_container .post_write_register_button {
    float: right;
    width: 83px;
    height: 33px;
    border: 1px solid #08a600;
    background-color: #4ec53d;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.post_write_container .post_write_form {
    border: 1px solid #eeeeee;
    padding: 20px 30px 20px 30px;
}

.post_write_container .post_write_form .post_name_input {
    border: 0;
    border-bottom: 1px solid #efefef;
    width: 100%;
    padding-bottom: 5px;
}

