/* post search container 스타일 */
.post_search_container {
    margin: 0 auto;
    width: 988px;
    padding-bottom: 140px;
    padding-top: 20px;
}

.post_search_container .post_search_title {
    font-size: 23px;
    color: #666666;
    text-align: center;
    padding-bottom: 40px;
}