<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>freeblog</title>
    <th:block th:replace="/fragments/config :: config"></th:block>
    <th:block th:replace="/fragments/template/post-template :: post-template"></th:block>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:replace="/fragments/header::header"></div>

<!-- login popup -->
<!--<div th:replace="/fragments/common.html :: login_popup"></div>-->

<div class="blog_view_container footer_bottom_padding">
    <div class="blog_view_div clear_fix">
        <!-- /post GET 요청 (select option에 따라 정렬), js에서 이벤트 리스너 설정 -->
        <select class="blog_view_select_text blog_view_select" id="blog_view_select_sort_turn" name="blogSelect">
            <option value="recent">최신 순</option>
            <option value="oldest">오래된 순</option>
        </select>

        <select class="blog_view_select_text blog_view_select blog_view_select_sort_term"
                id="blog_view_select_sort_term" name="blogSelect">
            <option value="today">오늘</option>
            <option value="week">이번 주</option>
            <option value="month">이번 달</option>
            <option value="year">올해</option>
        </select>

        <!-- /searcg?searchQuery GET 요청 -->
        <form action="/" method="get" class="blog_view_search_form">
            <input type="text" class="search_blog_input" id="search_blog_input" name="searchBlog">
            <button type="submit" class="search_blog_button" id="searchBlogButton" title="게시글 검색"></button>
            <span class="blind">게시글 검색</span>
        </form>
    </div>

    <!-- 포스트 카테고리 레이아웃 -->
    <div class="blog_post_board">
        <ul class="blog_list clear_fix" id="blog_list">
            <!-- blog post template -->

            <div class="default_image_div" id="default_image_div">
                <img src="../images/empty_post.png">
                <h3 class="message">검색 된 포스트가 없습니다.</h3>
                <span class="blind">빈 포스트 이미지</span>
            </div>
        </ul>

        <div class="more_post_btn_div">
            <button class="more_post_btn" id="morePostBtn">
                <span href="/" class="total_post_text">포스트 더보기</span>
                <span class="blind">더보기 버튼</span>
            </button>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer::footer"></div>
</body>
</html>