<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>freeblog</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <th:block th:replace="fragments/template/notice-template :: notice-template"></th:block>
    <th:block th:replace="fragments/template/post-template :: post-template"></th:block>
    <th:block th:replace="fragments/template/like-template :: like-template"></th:block>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<!-- login popup -->
<!--<div th:replace="fragments/common.html :: login_popup"></div>-->

<div class="blog_view_container footer_bottom_padding">
    <div class="blog_view_div clear_fix">
        <!-- /post GET 요청 (select option에 따라 정렬), js에서 이벤트 리스너 설정 -->
        <div class=" blog_view_box clear_fix">
            <div class="blog_view_search_selector">
                <select class="blog_view_select_text blog_view_select blog_view_select_sort_term"
                        id="blog_search_option_selector" name="searchOption">
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                </select>

                <div class="blog_view_search_form" id="blogViewSearchForm">
                    <input type="text" class="search_blog_input" id="search_blog_input" name="searchBlog">
                    <button type="button" class="search_blog_button" id="searchBlogButton" title="게시글 검색"></button>

                    <input type="hidden" readonly id="blogViewSearchOption" name="searchOption">
                    <input type="hidden" readonly id="blogViewSearchKeyword" name="searchKeyword">
                    <input type="hidden" readonly id="blogViewSortOption" name="dateSortOption">
                    <span class="blind">게시글 검색</span>
                </div>
            </div>

            <div class="blog_view_sort_selector clear_fix">
                <select class="blog_view_select_text blog_view_select" id="blog_view_select_sort_option"
                        name="blogSelect">
                    <option value="recent">최신순</option>
                    <option value="oldest">오래된순</option>
                </select>
            </div>
        </div>
    </div>

    <!-- 포스트 카테고리 레이아웃 -->
    <div class="blog_post_board">
        <div style="position: relative" id="mainPostLoading"></div>

        <ul class="blog_list clear_fix" id="blog_post_list">
            <!-- blog post template -->
        </ul>
    </div>

    <!-- 포스트 페이지네이션 레이아웃 -->
    <div class="post_search_page_container">
        <nav class="common-pagination-justify-content-center" aria-label="Page navigation">
            <ul class="pagination" id="PostSearchPagination">
                <!-- 페이지 템플릿 -->
            </ul>
        </nav>
    </div>
</div>
<th:block sec:authorize="isAuthenticated()">
    <input type="hidden" id="blogIdHiddenInput" readonly th:value="${blog_info.id}">
</th:block>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>