.container {
    padding: 35px;
}

.category_setting_container {
    max-width: 400px;
    margin: 0 auto;
    white-space: nowrap;
}

.category_container {
    border: 1px solid #c9c9c9;
    padding: 20px;
    white-space: normal;
}

.category_setting_container .settings_title {
    font-size: 14px;
    font-weight: bold;
    color: #424242;
    text-align: center;
    padding-bottom: 5px;
}

.category_setting_container .guide_title {
    text-align: right;
    font-size: 11px;
    color: purple;
    padding: 5px 0px 5px 0;
    text-decoration: underline;
}

/* 카테고리 버튼 스타일 정의 */
.category_setting_button_container {
    padding-bottom: 10px;
}

.category_setting_button_container .category_add_button {
    border: 1px solid #eeeeee;
    position: relative;
    float: left;
    font-size: 11px;
}

.category_setting_button_container .one_level_category {
    background: #ff9800;
}

.category_setting_button_container .two_level_category {
    margin-left: 10px;
    border: 1px solid #eeeeee;
    background-color: #f8786e;
}

.category_setting_button_container .category_update_button {
    border: 1px solid #eeeeee;
    position: relative;
    float: right;
    border: 1px solid #eeeeee;
    background-color: #ffc107;
    font-size: 11px;
    margin-right: 10px;
}

.category_setting_button_container .category_delete_button {
    border: 1px solid #eeeeee;
    position: relative;
    float: right;
    border: 1px solid #eeeeee;
    background-color: #8bc34a;
    font-size: 11px;
    margin-right: 10px;
}

.category_setting_button_container .category_register_button {
    border: 1px solid #eeeeee;
    position: relative;
    float: right;
    border: 1px solid #eeeeee;
    background-color: #3197da;
    font-size: 11px;
}

/* 카테고리 스타일 정의 */
.category_count_text {
    font-size: 11px;
}

.sub_category_count_text {
    font-size: 10px;
}

.blog_header_category_container .blog_header_category_list {
    position: relative;
}

.blog_header_category_container .blog_header_category_list .category_setting_button {
    position: absolute;
    width: 15px;
    right: 5px;
    height: 15px;
    top: 5%;
    cursor: pointer;
}

.blog_header_category_container .blog_header_category_list .total_category_search_title {
    cursor: pointer;
    margin: 0;
    font-size: 13px;
    color: #333;
}

.blog_header_category_container .blog_header_category_list .total_category_search_title:hover {
    font-weight: bold;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem:nth-child(n+2) {
    margin-top: 30px;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_category_title {
    cursor: pointer;
    font-size: 13px;
    color: #0d0a0a;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_category_title:hover {
    font-weight: bold;
}

/* 서브 카테고리 스타일 정의 */
.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_sub_category_list {
    margin-left: 10px;
    margin-top: 4px;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_sub_category_list .blog_header_sub_category_elem:nth-child(n+2) {
    margin-top: 5px;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_sub_category_list .blog_header_sub_category_elem .blog_header_sub_category_title {
    cursor: pointer;
    font-size: 12px;
    color: #818181;
}

.blog_header_category_container .blog_header_category_list .blog_header_category_elem .blog_header_sub_category_list .blog_header_sub_category_elem .blog_header_sub_category_title:hover {
    font-weight: bold;
}