<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>답글 작성</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/comment/post-comment-reply.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/comment/post-comment.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/comment/post-comment-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/comment/post-comment-reply.js}"></script>
</head>

<body>

<div class="post_comment_reply_container">
    <div class="post_comment_container post-reply-comment-style">
        <h3 class="post_comment_reply_text">
            답글 작성
        </h3>
        <div th:replace="fragments/comment/post-comment-reply-form-container::post-comment-reply-form-container"></div>
    </div>
</div>
</body>
</html>