<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>댓글 수정</title>
    <th:block th:replace="/fragments/config :: config"></th:block>
    <link th:href="@{/css/comment/post-comment-update.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/comment/post-comment.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/comment/post-comment-common.js}"></script>
    <script type="text/javascript" th:src="@{/js/comment/post-comment-update.js}"></script>
</head>

<body>

<div class="post_comment_update_container">
    <div class="post_comment_container post-update-comment-style">
        <h3 class="post_comment_update_text">
            댓글 수정
        </h3>
        <div th:replace="/fragments/comment/post-comment-update-form-container::post-comment-update-form-container"></div>
    </div>
</div>
</body>
</html>