<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <th:block th:replace="/fragments/config :: config"></th:block>
    <link th:href="@{/css/user/update/password.css}" type="text/css" rel="stylesheet">
</head>

<body>
<div class="update_password_container common_form_container">
    <div th:replace="/fragments/common.html :: logo_layout"></div>

    <h1 class="common_form_title">비밀번호 변경</h1>

    <form method="post" th:object="${userPasswordInput}" class="update_password_form common_form"
          id="update_password_form" name="updatePasswordForm" onsubmit="return confirm('비밀번호를 변경하시겠습니까?')">
        <div class="common_input_div input_div clear_fix">
            <label for="email_auth_input" class="common_input_label common_email_label">
                <span class="blind">이메일</span>
            </label>

            <input type="email" id="email_auth_input" class="common_input_form" th:field="*{email}"
                   placeholder="이메일을 입력하세요."
                   name="email" required>
        </div>

        <div class="spel_div">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="user_email_validation_error"
                  class="validation_error"></span>
            <p class="spel_condition_tag small_text_font">ex) test@naver.com</p>
            <p class="spel_condition_tag small_text_font">공백,특수문자 기입 불가</p>
        </div>

        <div class="common_input_div input_div clear_fix">
            <label for="key_auth_input" class="common_input_label common_password_label">
                <span class="blind">발급키</span>
            </label>

            <input type="text" id="key_auth_input" class="common_input_form" th:field="*{key}"
                   placeholder="발급키를 입력하세요."
                   maxlength="20"
                   name="email" required>
        </div>

        <div class="spel_div">
            <span th:if="${#fields.hasErrors('key')}" th:errors="*{key}" id="user_key_validation_error"
                  class="validation_error"></span>
            <p class="spel_condition_tag small_text_font">메일로 받은 발급키를 입력해주세요.</p>
            <p class="spel_condition_tag small_text_font">최대 20글자, 빈칸,공백 입력 불가</p>
        </div>

        <div class="common_input_div input_div clear_fix">
            <label for="user_password_input" class="common_input_label common_password_label">
                <span class="blind">비밀번호</span>
            </label>

            <input type="password" id="user_password_input" class="common_input_form" th:field="*{password}"
                   placeholder="변경할 비밀번호를 입력하세요."
                   name="password" required>
        </div>

        <div class="spel_div">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation_error"></span>
            <p class="spel_condition_tag small_text_font">하나 이상의 숫자(0~9), 알파벳(a~z | A~Z) 포함</p>
            <p class="spel_condition_tag small_text_font">하나 이상의 특수문자 포함 ! @ # &amp; ( ).</p>
            <p class="spel_condition_tag small_text_font">최소 8자 ~ 최대 20자로 작성</p>
        </div>

        <div class="input_div common_input_div clear_fix">
            <label for="re_password_input" class="common_input_label common_check_label">
                <span class="blind">비밀번호</span>
            </label>

            <input type="password" th:field="*{rePassword}" id="re_password_input" name="rePassword"
                   class="common_input_form"
                   placeholder="비밀번호를 한번 더 입력해주세요." required>
        </div>

        <div class="spel_div">
            <span th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}" class="validation_error"></span>
            <p class="spel_condition_tag small_text_font">하나 이상의 숫자(0~9), 알파벳(a~z | A~Z) 포함</p>
            <p class="spel_condition_tag small_text_font">하나 이상의 특수문자 포함 ! @ # &amp; ( ).</p>
            <p class="spel_condition_tag small_text_font">최소 8자 ~ 최대 20자로 작성</p>
        </div>

        <div class="common_sub_link_div">
            <a href="/user/login" class="common_right_link small_text_font" sec:authorize="!isAuthenticated()">로그인
                하기</a>
        </div>
        <button type="submit" class="common_submit_button" id="passwordUpdateButton">수정하기</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<div th:replace="/fragments/footer::footer"></div>
</body>
</html>