/* post comment 스타일 */
.post_comment_container {
    border-top: 1px solid #e3e3e3;
    margin-top: 17px;
}

/* post comment header 스타일 */
.post_comment_container .post_comment_count_text_block {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

.post_comment_container .post_comment_count_text_block .post_comment_count {
    color: #f25555;
}

.post_comment_container .post_comment_list {
    margin: 20px 0 20px 0px;
}

.post_comment_container .post_comment_list .post_comment_block {
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
}

.post_comment_container .post_comment_list .post_comment_block:nth-child(n+2) {
    margin-top: 20px;
}

.post_comment_container .post_comment_list .post_comment_block .comment_user_profile_image_block {
    float: left;
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #f2f2f2;
}

.post_comment_container .post_comment_list .post_comment_block .comment_user_profile_image_block .comment_user_profile_image_link {
    display: block;
}

.post_comment_container .post_comment_list .post_comment_block .comment_user_profile_block {
    overflow: hidden;
    color: rgba(0, 0, 0, .86);
    font-size: 15px;
    line-height: 20px;
}

.post_comment_container .post_comment_list .post_comment_block .comment_user_profile_block .comment_user_profile_name_block {
    margin-bottom: 3px;
}

.post_comment_container .post_comment_list .post_comment_block .comment_user_profile_block .comment_user_profile_name_block .comment_user_profile_name_link {
    float: left;
    font-weight: bold;
    color: rgba(0, 0, 0, .86);
    font-size: 13px;
    font-family: Noto Sans KR, sans-serif;
}

.post_comment_container .post_comment_list .post_comment_block .comment_user_profile_block .comment_user_profile_name_block .user_profile_owner_badge {
    height: 17px;
    margin: 3px 0 0 6px;
    padding: 3px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 17px;
    font-size: 10px;
}

.post_comment_container .post_comment_list .post_comment_block .comment_user_profile_block .comment_user_profile_name_block .user_profile_owner_badge .user_profile_owner_text {
    height: 17px;
    line-height: 17px;
    margin: 0;
}

.post_comment_container .post_comment_list .post_comment_block .comment_user_profile_block .post_comment_date_text {
    font-size: 10px;
    line-height: 1.38;
    color: #797979;
    margin-top: 5px;
}

/* post comment body 스타일 */
.post_comment_container .post_comment_list .post_comment_block .post_comment_body {
    padding: 11px 3px 0px 3px;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_block_delete_text {
    line-height: 22px;
    word-break: break-word;
    font-size: 13px;
    color: rgb(102, 102, 102) !important;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_text_block {
    line-height: 22px;
    word-break: break-word;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_text_block .post_target_user_link {
    font-size: 13px;
    color: #6c757d;
    font-weight: 650;
    text-decoration: none;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_text_block .post_comment_text {
    font-size: 13px;
    color: rgb(61 61 61) !important;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_text_block .post_comment_image_block {
    width: 105px;
    height: 105px;
    margin-top: 10px;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_text_block .post_comment_image_block .post_comment_image {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

/* post comment util 스타일 */
.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_util_block {
    margin-top: 12px;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_util_block .post_comment_update_delete_block {
    float: left;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_util_block .post_comment_util_button {
    cursor: pointer;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_util_block .post_comment_reply_button {
    margin-left: 15px;
}

.post_comment_container .post_comment_list .post_comment_block .post_comment_body .post_comment_util_block .post_comment_util_button_text {
    font-size: 11px;
    color: #607d8b;
}

/* post comment paging 스타일 */
.post_comment_container .post_comment_page_container {
    padding: 15px 0px 30px 0px;
}

.post_comment_container .post_comment_form_container {
    padding-top: 10px;
}

.post_comment_container .post_comment_form_container .post_comment_form {
    border: 1px solid #ced4da;
    min-height: 6.125rem;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_text_area_block {
    padding: 25px;
    position: relative;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_text_area_block .post_comment_count_block {
    position: absolute;
    top: 4px;
    right: 25px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_text_area_block .post_comment_count_block .textarea_text_count {
    font-size: 12px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_text_area_block .post_comment_count_block .textarea_count_blank {
    font-size: 13px;
}

.post_comment_container .post_comment_form_container .post_comment_text_area {
    resize: none;
    font-size: 13px;
    outline: 0;
    width: 100%;
    color: #000;
    border: none;
    background: 0 0;
    min-height: 120px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_thumbnail_image_box {
    margin-top: 15px;
    width: 73px;
    height: 63px;
    position: relative;
    display: none;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_thumbnail_image_box .post_comment_thumbnail_image_delete_button {
    background-color: #ffffff;
    padding: 0;
    border: none;
    position: absolute;
    top: 1px;
    right: 2px;
    width: 12px;
    height: 14px;
    cursor: pointer;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container {
    padding: 0px 25px 17px 25px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .user_input_form_container {
    float: left;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .user_input_form_container .user_comment_anonymous_input_box {
    display: flex;
    align-items: center;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .user_input_form_container .user_comment_anonymous_input_box .user_comment_anonymous_input_label {
    cursor: pointer;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .user_input_form_container .user_comment_anonymous_input_box .user_comment_anonymous_input_label .user_comment_anonymous_input_text {
    margin-left: 5px;
    font-size: 13px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .post_comment_input_style {
    float: left;
    width: 200px;
    height: 30px;
    font-size: 13px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .post_comment_input_style:nth-child(n+2) {
    margin-left: 15px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .util_input_form_container {
    float: right;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .util_input_form_container .post_comment_image_button {
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .util_input_form_container .post_comment_lock_button {
    margin-right: 10px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .util_input_form_container .post_comment_image_button .post_image_container {
    float: left;
    width: 19px;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .util_input_form_container .post_comment_is_secret_input_style {
    visibility: hidden;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .util_input_form_container .post_comment_image_button .post_comment_image_text {
    font-size: 11px;
    margin-left: 3px;
    color: #9e9e9e;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .util_input_form_container .post_comment_submit_button {
    background-color: #2C3E50;
    outline: none;
    border: none;
    padding: 6px 14px 6px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.post_comment_container .post_comment_form_container .post_comment_form .post_comment_form_info_container .util_input_form_container .post_comment_submit_button .post_comment_submit_button_text {
    color: #ffffff;
    font-size: 12px;
}

.post_comment_container .post_comment_form_container .post_comment_image_form {
    visibility: hidden;
}

/* 서브 댓글 스타일 */
.post_comment_container .post_comment_list .post_comment_block .sub_post_comment_list_block .sub_post_list {
    margin-left: 25px;
    margin-top: 25px;
}